.section01 {position: relative;}
.visualWrap{position: relative;width: 100%;height: 604px;overflow: hidden;}
.visualWrap:after{content: "";position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 100%;height: 124px;background-image: url(../images/main/img_visual_line.png);background-size: cover;background-position: center;background-repeat: no-repeat;}
.visualWrap img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.visualWrap p{position: absolute;left: 10%;top: 25%;font-size: 47px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -2px;}

.section02{position: relative;padding: 70px 0;overflow: hidden;}
.section02 .inner{position: relative;max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.section02 .inner:before{content: "";position: absolute;top: 103px;left: -134px;width: 215px;height: 162px;background-image: url(../images/main/bg_before.svg);background-position: center;background-repeat: no-repeat;-webkit-animation: bounceBox 3s infinite;-moz-animation: bounceBox 3s infinite;-ms-animation: bounceBox 3s infinite;-o-animation: bounceBox 3s infinite;animation: bounceBox 3s infinite;}
.section02 .inner:after{content: "";position: absolute;top: 359px;right: -146px;width: 238px;height: 201px;background-image: url(../images/main/bg_after.svg);background-position: center;background-repeat: no-repeat;-webkit-animation: bounceBox 4s infinite;-moz-animation: bounceBox 4s infinite;-ms-animation: bounceBox 4s infinite;-o-animation: bounceBox 4s infinite;animation: bounceBox 4s infinite;z-index: 1;}
.popupzoneSlider{max-width: 600px;}
.popupzoneSlider .controlWrap{display: flex;align-items: center;justify-content: space-between;margin-bottom: 25px;}
.popupzoneSlider .controlWrap .btnWrap{position: relative;display: flex;align-items: center;justify-content: space-between;width: 160px;}
.btnWrap button{width: 50px;height: 50px;background-color: #fff;background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;background-position: center;background-repeat: no-repeat;border: 1px solid #DDD;border-radius: 100%;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.btnWrap .btnPrev{background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;}
.btnWrap .btnNext{background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;transform: rotate(180deg);}
.btnWrap .btnPause{position: absolute;left: 55px;background-image: url(../images/main/icon_pause.svg);background-size: 11px 15px;}
.btnWrap .btnPlay{position: absolute;left: 55px;background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;}
.popupzoneSlider .controlWrap .totalWrap{font-size: 20px;color: #222;font-weight: 400;line-height: normal;}
.popupzoneSlider .controlWrap .totalWrap strong{color: #009843;font-weight: 700;}
.sliderInner{width: 600px;height: 450px;border-radius: 20px;overflow: hidden;}
.sliderInner .slideItem a{position: relative;display: block;width: 600px;height: 450px;}
.sliderInner .slideItem a img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.sliderInner .slideItem a .bottomTitle{position: absolute;bottom: 0;width: 100%;height: 75px;padding: 0 20px;background-color: #009843;box-sizing: border-box;font-size: 20px;color: #FFF;font-weight: 500;line-height: 75px;letter-spacing: -1px;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.sliderInner .slideItem a .hoverGroup{display: flex;align-items: center;justify-content: center;flex-direction: column;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.70);padding: 20px;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;opacity: 0;}
.sliderInner .slideItem a .hoverGroup .title{display: block;margin-bottom: 19px; font-size: 30px;color: #FFF;font-weight: 700;line-height: 50px;letter-spacing: -1px;text-align: center;}
.sliderInner .slideItem a .hoverGroup .btn{display: flex;align-items: center;justify-content: center;width: 160px;height: 40px;background: #009843;border-radius: 10px;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;}
.sliderInner .slideItem a .hoverGroup .btn i{display: inline-block;width: 8px;height: 13px;margin-left: 5px;background-image: url(../images/main/icon_btn_i.svg);background-position: center;background-repeat: no-repeat;}
.sliderInner .slideItem a:hover .hoverGroup{opacity: 1;}
.noticeWrap{position: relative;width: 850px;z-index: 10;}
.noticeControl{display: flex;align-items: center;justify-content: space-between;padding-bottom: 25px;}
.noticeControl h3{font-size: 36px;color: #222;font-weight: 900;line-height: 50px;letter-spacing: -1px;}
.noticeBtnGroup{display: flex;padding-right: 60px;}
.noticeBtnGroup li{position: relative;display: flex;justify-content: center;align-items: center;width: 150px;height: 50px;background: #A0A0A0;border-radius: 10px;box-sizing: border-box;font-size: 18px;color: #FFF;font-weight: 500;line-height: normal;letter-spacing: -1px;text-align: center;cursor: pointer;}
.noticeBtnGroup li + li{margin-left: 10px;}
.noticeBtnGroup li.on{background: #009843;font-weight: 700;}
.noticeBtnGroup li.on:after{content: "";position: absolute;width: 0;height: 0;left: 50%;bottom: -7px;margin-left: -6px;border-top: 7px solid #009843;border-left: 6px solid transparent;border-right: 6px solid transparent;}
.noticeControl .btnNoticeMore{position: absolute;right: 0;width: 50px;height: 50px;background-color: #FFF;background-image: url(../images/main/icon_more_green.svg);background-position: center;background-repeat: no-repeat;border: 1px solid #009843;border-radius: 100%;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.noticeListGroup > li:not(:first-of-type){display: none;}
.noticeList{position: relative;width: 100%;height: 450px;padding: 25px 50px;background: #FFF;border: 1px solid #A0A0A0;border-radius: 20px;box-sizing: border-box;z-index: 2;}
.noticeList li{padding: 22px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.noticeList li a{display: block;}
.noticeList li a .label{display: inline-block;width: 80px;height: 30px;border-radius: 50px;text-align: center;font-size: 16px;color: #000;font-weight: 500;line-height: 30px;letter-spacing: -1px;vertical-align: middle;}
.noticeList li a .title{position: relative;display: inline-block;width: calc(100% - 190px);padding-left: 10px;margin-left: 15px;box-sizing: border-box;font-size: 20px;color: #333;font-weight: 400;line-height: normal;letter-spacing: -0.6px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;vertical-align: middle;}
.noticeList li a .title:before{content: "·";position: absolute;left: 0;}
.noticeList li a .title i{display: inline-block;width: 36px;height: 18px;margin-left: 3px;border-radius: 30px;text-align: center;font-size: 12px;color: #FFF;font-weight: 700;line-height: 18px;text-decoration: none;font-style: normal;vertical-align: middle;}
.noticeList li a .date{display: inline-block;width: 85px;font-size: 18px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;vertical-align: middle;}
.noticeList li.type1 a .label{background: #AFCA0B;}
.noticeList li.type2 a .label{background: #F9B000;}
.noticeList li.type1 a .title i{background: #AFCA0B;}
.noticeList li.type2 a .title i{background: #F9B000;}
.noticeList li a:hover .title{text-decoration: underline;}
.bannerWrap{width: 100%;margin-top: 70px;}
.bannerWrap ul{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.bannerWrap ul li{width: calc(20% - 20px);}
.bannerWrap ul li a{display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;height: 120px;padding: 30px 20px 30px 30px;border-radius: 20px;box-sizing: border-box;font-size: 20px;font-weight: 700;color: #FFF;line-height: 250%;letter-spacing: -1px;-webkit-transition: .5s;transition: .5s;}
.bannerWrap ul li:nth-child(1) a{background: #3890DC;}
.bannerWrap ul li:nth-child(2) a{background: #24AF54;}
.bannerWrap ul li:nth-child(3) a{background: #FAD74F;}
.bannerWrap ul li:nth-child(4) a{background: #AFC82C;}
.bannerWrap ul li:nth-child(5) a{background: #554894;}
.bannerWrap ul li a i{display: flex;align-items: center;justify-content: center;width: 60px;height: 60px;background: #fff;border-radius: 100%;}
.bannerWrap ul li a:hover{margin-top: -40px;color: #222;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);}

.section03{position: relative;padding: 50px 0;background: #F5F5F5;overflow: hidden;}
.section03 .inner{position: relative;max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.newsSlider .slick-list{padding: 50px 0;}
.newsSlider .slick-slide{position: relative;width: 270px;margin: 0 18px;}
.newsSlider a{display: block;border: 1px solid #DDD;border-radius: 10px;box-sizing: border-box;overflow: hidden;-webkit-transition: .5s;transition: .5s;}
.newsSlider .slick-slide:after{content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius: 10px;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);z-index: -1;}
.newsSlider .thumb{position: relative;display: block;width: 100%;height: 250px;}
.newsSlider .thumb img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.newsSlider .text{position: relative;padding: 15px 20px;background: #fff;border-top: 1px solid #DDD;box-sizing: border-box;}
.newsSlider .text .label{position: absolute;right: 20px;bottom: 15px;display: inline-block;width: auto;height: 24px;padding: 0 10px;background: #009843;border-radius: 40px;box-sizing: border-box;text-align: center;font-size: 13px;color: #fff;font-weight: 500;line-height: 24px;letter-spacing: -1px;vertical-align: middle;}
.newsSlider .text .title{margin-bottom: 15px;font-size: 17px;color: #333;font-weight: 400;letter-spacing: -0.6px;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.5;height: 3em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: keep-all;}
.newsSlider .text .date{font-size: 14px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.newsSlider a:hover{margin-top: -40px;border: 2px solid #009843;}
.newsSlider .slick-arrow{top: 50%;transform: translate(0);width: 50px;height: 50px;margin-top: -25px;background-color: #fff;background-image: url(../images/main/arrow_left_black.svg);background-position: center;background-repeat: no-repeat;border: 1px solid #ddd;border-radius: 100%;box-sizing: border-box;transition: .5s;-webkit-transition: .5s;z-index: 9;}
.newsSlider .slick-prev{left: -70px;}
.newsSlider .slick-next{right: -70px;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.newsSlider .slick-arrow:hover{background-image: url(../images/main/arrow_left_green.svg);border-color: #009843;}

@media screen and (max-width: 1699px){

}
@media screen and (max-width: 1399px){

    
}
@media screen and (max-width: 1199px){

}
@media screen and (max-width: 767px){

    
}
@media screen and (max-width: 320px){

}

@-webkit-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -8%);
        transform: translate(0, -8%);
    }
    50% {
        -webkit-transform: translate(0, 8%);
        transform: translate(0, 8%);
    }
}
@-moz-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -8%);
        transform: translate(0, -8%);
    }
    50% {
        -webkit-transform: translate(0, 8%);
        transform: translate(0, 8%);
    }
}
@-ms-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -8%);
        transform: translate(0, -8%);
    }
    50% {
        -webkit-transform: translate(0, 8%);
        transform: translate(0, 8%);
    }
}
@-o-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -8%);
        transform: translate(0, -8%);
    }
    50% {
        -webkit-transform: translate(0, 8%);
        transform: translate(0, 8%);
    }
}
@keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -8%);
        transform: translate(0, -8%);
    }
    50% {
        -webkit-transform: translate(0, 8%);
        transform: translate(0, 8%);
    }
}