.section01 {position: relative;}
.visualWrap{position: relative;width: 100%;height: 604px;overflow: hidden;}
.visualWrap:after{content: "";position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 100%;height: 124px;background-image: url(../images/main/img_visual_line.png);background-size: cover;background-position: center;background-repeat: no-repeat;}
.visualWrap img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.visualWrap p{position: absolute;left: 10%;top: 25%;font-size: 47px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -2px;}

.section02{position: relative;padding: 70px 0;overflow: hidden;}
.section02 .inner{position: relative;max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.section02 .inner:before{content: "";position: absolute;top: 103px;left: -134px;width: 215px;height: 162px;background-image: url(../images/main/bg_before.svg);background-position: center;background-repeat: no-repeat;-webkit-animation: bounceBox 5s infinite;-moz-animation: bounceBox 5s infinite;-ms-animation: bounceBox 5s infinite;-o-animation: bounceBox 5s infinite;animation: bounceBox 5s infinite;}
.section02 .inner:after{content: "";position: absolute;top: 359px;right: -146px;width: 238px;height: 201px;background-image: url(../images/main/bg_after.svg);background-position: center;background-repeat: no-repeat;-webkit-animation: bounceBox 4s infinite;-moz-animation: bounceBox 4s infinite;-ms-animation: bounceBox 4s infinite;-o-animation: bounceBox 4s infinite;animation: bounceBox 4s infinite;}
.popupzoneSlider{max-width: 600px;}
.popupzoneSlider .controlWrap{display: flex;align-items: center;justify-content: space-between;margin-bottom: 25px;}
.popupzoneSlider .controlWrap .btnWrap{position: relative;display: flex;align-items: center;justify-content: space-between;width: 160px;}
.btnWrap button{width: 50px;height: 50px;background-color: #fff;background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;background-position: center;background-repeat: no-repeat;border: 1px solid #DDD;border-radius: 100%;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.btnWrap .btnPrev{background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;}
.btnWrap .btnNext{background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;transform: rotate(180deg);}
.btnWrap .btnPause{position: absolute;left: 55px;background-image: url(../images/main/icon_pause.svg);background-size: 11px 15px;}
.btnWrap .btnPlay{position: absolute;left: 55px;background-image: url(../images/main/arrow_left_black.svg);background-size: 36px;}
.popupzoneSlider .controlWrap .totalWrap{font-size: 20px;color: #222;font-weight: 400;line-height: normal;}
.popupzoneSlider .controlWrap .totalWrap strong{color: #009843;font-weight: 700;}
.sliderInner{width: 600px;height: 450px;border-radius: 20px;overflow: hidden;}
.sliderInner .slideItem a{position: relative;display: block;width: 600px;height: 450px;}
.sliderInner .slideItem a img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.sliderInner .slideItem a .bottomTitle{position: absolute;bottom: 0;width: 100%;height: 75px;padding: 0 20px;background-color: #009843;box-sizing: border-box;font-size: 20px;color: #FFF;font-weight: 500;line-height: 75px;letter-spacing: -1px;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.sliderInner .slideItem a .hoverGroup{display: flex;align-items: center;justify-content: center;flex-direction: column;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.70);padding: 20px;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;opacity: 0;}
.sliderInner .slideItem a .hoverGroup .title{display: block;margin-bottom: 19px; font-size: 30px;color: #FFF;font-weight: 700;line-height: 50px;letter-spacing: -1px;text-align: center;}
.sliderInner .slideItem a .hoverGroup .btn{display: flex;align-items: center;justify-content: center;width: 160px;height: 40px;background: #009843;border-radius: 10px;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;}
.sliderInner .slideItem a .hoverGroup .btn i{display: inline-block;width: 8px;height: 13px;margin-left: 5px;background-image: url(../images/main/icon_btn_i.svg);background-position: center;background-repeat: no-repeat;}
.sliderInner .slideItem a:hover .hoverGroup{opacity: 1;}

.noticeWrap{position: relative;width: 850px;}
.noticeControl{display: flex;align-items: center;justify-content: space-between;padding-bottom: 25px;}
.noticeControl h3{font-size: 36px;color: #222;font-weight: 900;line-height: 50px;letter-spacing: -1px;}
.noticeBtnGroup{display: flex;padding-right: 60px;}
.noticeBtnGroup li{position: relative;display: flex;justify-content: center;align-items: center;width: 150px;height: 50px;background: #A0A0A0;border-radius: 10px;box-sizing: border-box;font-size: 18px;color: #FFF;font-weight: 500;line-height: normal;letter-spacing: -1px;text-align: center;cursor: pointer;}
.noticeBtnGroup li + li{margin-left: 10px;}
.noticeBtnGroup li.on{background: #009843;font-weight: 700;}
.noticeBtnGroup li.on:after{content: "";position: absolute;width: 0;height: 0;left: 50%;bottom: -7px;margin-left: -6px;border-top: 7px solid #009843;border-left: 6px solid transparent;border-right: 6px solid transparent;}
.noticeControl .btnNoticeMore{position: absolute;right: 0;width: 50px;height: 50px;background-color: #FFF;background-image: url(../images/main/icon_more_green.svg);background-position: center;background-repeat: no-repeat;border: 1px solid #009843;border-radius: 100%;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;}

.noticeListGroup > li:not(:first-of-type){display: none;}
.noticeList{width: 100%;height: 450px;flex-shrink: 0;padding: 25px 50px;background: #FFF;border: 1px solid #A0A0A0;border-radius: 20px;box-sizing: border-box;}
.noticeList{}
.noticeList li{border-bottom: 1px solid #DDD;box-sizing: border-box;}
.noticeList li a{display: block;}
.noticeList li a .label{display: inline-block;width: 80px;height: 30px;border-radius: 50px;text-align: center;font-size: 16px;color: #000;font-weight: 500;line-height: 30px;letter-spacing: -1px;vertical-align: middle;}
.noticeList li a .title{position: relative;display: inline-block;padding-left: 10px;font-size: 20px;color: #333;font-weight: 400;line-height: normal;letter-spacing: -0.6px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;vertical-align: middle;}
.noticeList li a .title:before{content: "·";position: absolute;left: 0;}
.noticeList li a .title i{display: inline-block;width: 36px;height: 18px;border-radius: 30px;text-align: center;font-size: 12px;color: #FFF;font-weight: 700;line-height: 18px;text-decoration: none;font-style: normal;}
.noticeList li a .date{display: inline-block;font-size: 18px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;vertical-align: middle;}
.noticeList li.type1 a .label{background: #AFCA0B;}
.noticeList li.type2 a .label{background: #F9B000;}
.noticeList li.type1 a .title i{background: #AFCA0B;}
.noticeList li.type2 a .title i{background: #F9B000;}

.section04{position: relative;padding: 100px 0 109px;background-image: url(../images/bg_section04.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;}
.section04 .inner{position: relative;max-width: 1500px;width: 100%;margin: 0 auto;}
.section04 .titleGroup{position: relative;margin-bottom: 60px;}
.section04 .titleGroup:before{content: "";position: absolute;right: 40px;bottom: 32px;width: calc(100% - 300px);height: 1px;background: #fff;}
.section04 .titleGroup:after{content: "+";position: absolute;right: 0;bottom: 0;font-size: 40px;color: #FFF;font-weight: 100;line-height: 70px;letter-spacing: -1px;}
.section04 .titleGroup .titleSm{font-size: 20px;color: #FFF;font-weight: 700;line-height: normal;}
.section04 .titleGroup .titleLg{margin-top: 2px;font-size: 52px;color: #FFF;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.section04 .titleGroup .titleLg b{font-weight: 700;}
.partnerSwiper{margin: 0 -31px;}
.partnerSwiper .swiper-slide a{position: relative;display: block;height: 150px;margin: 0 31px;border-radius: 10px;background: #FFF;overflow: hidden;}
.partnerSwiper .swiper-slide .img{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.partnerSwiper .swiper-slide .text{position: absolute;left: 0;right: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;background: rgba(0, 41, 93, 0.9);border: 5px solid #46A4C6;border-radius: 10px;box-sizing: border-box;text-align: center;opacity: 0;-webkit-transition: .3s;transition: .3s;}
.partnerSwiper .swiper-slide .text .name{font-size: 24px;color: #FFF;font-weight: 700;line-height: 160%;letter-spacing: -1px;}
.partnerSwiper .swiper-slide .text .btn{font-size: 16px;color: #FFF;font-weight: 400;line-height: 160%;letter-spacing: -1px;}
.partnerSwiper .swiper-slide a:hover .text{opacity: 1;}
.partnerControl .swiper-button-prev, .partnerControl .swiper-button-next{top: calc(50% + 35px); width: 50px;height: 50px;border-radius: 100%;background-color: transparent;background-image: url(../images/arrow_left_white.png);background-size: 24px;background-position: center;background-repeat: no-repeat;border: 1px solid #fff;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;}
.partnerControl .swiper-button-prev{left: -80px;}
.partnerControl .swiper-button-next{right: -80px;transform: rotate(180deg);}
.partnerControl .swiper-button-prev:after, .partnerControl .swiper-button-next:after{display: none;}
.partnerControl .swiper-button-prev:hover, .partnerControl .swiper-button-next:hover{background-color: #fff;background-image: url(../images/arrow_left_blue.png);}
.btnPartnerMore{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;margin: 50px auto 0;border: 1px solid #FFF;background: transparent;border-radius: 50px;box-sizing: border-box;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.btnPartnerMore:hover{background: #fff;color: #00295D;}

.section05{position: relative;padding: 100px 0 243px;background: #20293A;box-sizing: border-box;overflow: hidden;}
.section05 .inner{max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.section05 .titleGroup{position: relative;margin-bottom: 70px;}
.section05 .titleGroup:before{content: "";position: absolute;right: 40px;bottom: 32px;width: calc(100% - 250px);height: 1px;background: #fff;}
.section05 .titleGroup:after{content: "+";position: absolute;right: 0;bottom: 0;font-size: 40px;color: #FFF;font-weight: 100;line-height: 70px;letter-spacing: -1px;}
.section05 .titleGroup .titleSm{font-size: 20px;color: #FFF;font-weight: 700;line-height: normal;}
.section05 .titleGroup .titleLg{margin-top: 2px;font-size: 52px;color: #FFF;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.section05 .titleGroup .titleLg b{font-weight: 700;}
.section05 .imgGroup{display: flex;justify-content: space-between;align-items: center;counter-reset:list-number;}
.section05 .imgGroup > li{position: relative;width: 730px;width: calc(50% - 20px);height: 504px;padding: 290px 50px 0;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;counter-increment:list-number;}
.section05 .imgGroup > li:before{content: "0"counter(list-number);position: absolute;color: rgba(255, 255, 255, 0.15);font-size: 180px;font-weight: 900;line-height: normal;letter-spacing: -1px;}
.section05 .imgGroup > li:nth-child(1){background-image: url(../images/img_consulting01.jpg);border-radius: 100px 0px 0px 0px;}
.section05 .imgGroup > li:nth-child(2){background-image: url(../images/img_consulting02.jpg);border-radius: 0px 0px 100px 0px;}
.section05 .imgGroup > li:nth-child(1):before{bottom: -58px;right: -37px;}
.section05 .imgGroup > li:nth-child(2):before{bottom: -58px;right: -3px;}
.section05 .imgGroup > li .title{margin-bottom: 34px; font-size: 40px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -1px;}
.section05 .imgGroup > li > a{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;border: 1px solid #FFF;border-radius: 50px;box-sizing: border-box;background: transparent;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;transition: .3s;-webkit-transition: .3s;}
.section05 .imgGroup > li > a:hover{background: #00295D;border-color: #00295D;color: #fff;}
.section05 .InfoGroup{display: flex;justify-content: space-between;}
.section05 .InfoGroup > ul{width: calc(50% - 20px);margin-top: 40px;}
.section05 .InfoGroup > ul > li{position: relative;width: 100%;height: 180px;padding: 58px 40px 0;border-radius: 20px;box-sizing: border-box;}
.section05 .InfoGroup > ul > li:nth-child(1){background: #334487;}
.section05 .InfoGroup > ul > li:nth-child(2){background: #335987;}
.section05 .InfoGroup > ul > li .stitle{color: #AAA;font-size: 15px;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li .title{margin-top: 3px;color: #FFF;font-size: 28px;font-weight: 700;line-height: 140%;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li > a{position: absolute;top: 50%;right: 40px;display: flex;align-items: center;justify-content: flex-start;width: 120px;height: 40px;margin-top: -20px;padding: 0 22px;border-radius: 50px;background: #222;box-sizing: border-box;color: #FFF;font-size: 14px;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li + li{margin-top: 30px;}
.section05 .InfoGroup > ul > li > a:after{content: "";position: absolute;right: 12px;top: 50%;transform: translateY(-50%);width: 24px;height: 24px;background-color: #fff;background-image: url(../images/arrow_right_gray.png);background-size: 20px;background-position: center;background-repeat: no-repeat;border: 1px solid #CECECE;border-radius: 100%;box-sizing: border-box;}
.consultingInfo{position: relative;display: flex;justify-content: space-between;align-items: flex-start;width: calc(50% - 20px);height: 390px;background: #FFF;padding: 25px 40px 50px;margin: 40px 0 0 0;border-radius: 20px;box-sizing: border-box;overflow: hidden;}
.consultingInfo .consultingTitle{margin-top: 15px;}
.consultingInfo .consultingTitle .stitle{font-size: 15px;color: #888;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.consultingInfo .consultingTitle .title{margin-top: 3px;font-size: 28px;color: #222;font-weight: 700;line-height: 140%;letter-spacing: -1px;}
.consultingInfo ul{width: 330px;max-width: calc(100% - 265px);}
.consultingInfo ul li{position: relative;padding: 23px 0 24px 85px;box-sizing: border-box;}
.consultingInfo ul li + li{border-top: 1px solid #DDDDDD;}
.consultingInfo ul li:before{content: "";position: absolute;left: 0;top: 50%;width: 60px;height: 60px;margin-top: -30px;background-color: #00295D;background-position: center;background-repeat: no-repeat;border-radius: 100%;box-sizing: border-box;}
.consultingInfo ul li:nth-child(1):before{background-image: url(../images/icon_tel.svg);}
.consultingInfo ul li:nth-child(2):before{background-image: url(../images/icon_phone.svg);}
.consultingInfo ul li:nth-child(3):before{background-image: url(../images/icon_email.svg);}
.consultingInfo ul li strong{font-size: 20px;color: #333;font-weight: 700;line-height: normal;letter-spacing: -0.6px;}
.consultingInfo ul li p{font-size: 18px;color: #333;font-weight: 400;line-height: 35px;}
.btnKakao{position: absolute;left: 0;bottom: 0;width: 297px;height: 182px;padding: 63px 0 0 92px;background-image: url(../images/bg_kakaotalk.png);background-position: center;background-repeat: no-repeat;box-sizing: border-box;}
.btnKakao p:nth-child(1){font-size: 17px;color: #381C1E;font-weight: 500;line-height: 35px;letter-spacing: -1px;}
.btnKakao p:nth-child(2){display: flex;align-items: center;justify-content: center;width: 140px;height: 40px;margin-top: 6px;border-radius: 50px;background: #381C1E;color: #F7E409;text-align: center;font-size: 14px;font-weight: 500;line-height: normal;letter-spacing: -1px;}

@media screen and (max-width: 1699px){

    .introductionControl{right: 20px;}
    .section04 .inner{max-width: calc(100% - 200px);}
    .partnerSwiper .swiper-slide a{margin: 0 10px;}

}

@media screen and (max-width: 1399px){

    .section02{padding: 100px 0 200px;}
    .section02:before{width: 40%;}
    .introductionSlide .imgBox{width: 50%;padding-bottom: 33%;height: 0;}
    .introductionSlide .txtBox{position: relative;top: 150px;width: 50%;height: auto;padding: 50px 30px 30px;border-radius: 65px 0 35px 0;z-index: 9;}
    .introductionSlide .txtBox .title:before{width: calc(100% - 250px);}
    .introductionControl{bottom: -50px;}
    .noticeList{width: 780px;}
    .section05 .InfoGroup{flex-direction: column;}
    .section05 .InfoGroup > ul{width: 100%;}
    .section05 .InfoGroup > ul > li{height: 120px;padding: 30px 40px 0;}
    .consultingInfo{width: 100%;}
    .consultingInfo ul{width: calc(100% - 300px);}
    
}

@media screen and (max-width: 1199px){

    .visualSwiper .visualText p:nth-child(1){margin-bottom: 20px;font-size: 24px;}
    .visualSwiper .visualText p:nth-child(2){font-size: 34px;}
    .visualSwiper .visualText p:nth-child(3){font-size: 34px;}
    .visualWrap .visualControl .swiper-button-prev{left: 50px;}
    .visualWrap .visualControl .swiper-button-next{right: 50px;}
    .scrollDown{bottom: 40px;right: 2%;}

    .introductionControl{bottom: 0;}
    .section03 .inner{display: block;}
    .noticeControl{position: inherit;top: inherit;}
    .noticeBtnGroup{width: 100%;margin-top: 20px;display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;border-bottom: 1px solid #ddd;box-sizing: border-box;}
    .noticeBtnGroup li{width: auto;padding: 5px 20px;border-bottom: 0;flex: 0 auto;font-size: 20px;text-align: center;}
    .noticeBtnGroup li:after{display: none;}
    .noticeList{width: 100%;}
    .noticeList li{width: calc(50% - 20px);margin-top: 40px;}
    .noticeList li a:hover{border-radius: 50px 10px;}
    .partnerSwiper .swiper-slide a{height: 100px;}
    .section05 .imgGroup > li{height: 300px;padding: 150px 40px 0;}
    .section05 .imgGroup > li:nth-child(1){border-radius: 50px 0px 0px 0px;}
    .section05 .imgGroup > li:nth-child(2){border-radius: 0px 0px 50px 0px;}
    .section05 .imgGroup > li:before{font-size: 100px;}
    .section05 .imgGroup > li .title{margin-bottom: 10px;font-size: 24px;line-height: 150%;}
    .section05 .imgGroup > li:nth-child(1):before{bottom: -30px;right: -10px;}
    .section05 .imgGroup > li:nth-child(2):before{bottom: -30px;right: -3px;}

}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 550px;}
    .visualSwiper .visualText p:nth-child(1){margin-bottom: 20px;font-size: 16px;}
    .visualSwiper .visualText p:nth-child(2){font-size: 28px;}
    .visualSwiper .visualText p:nth-child(3){font-size: 28px;}
    .visualWrap .visualControl{padding-top: 250px;}
    .visualWrap .visualControl .swiper-button-prev, .visualWrap .visualControl .swiper-button-next{display: none;}
    .visualWrap .visualControl button{width: 70px;font-size: 12px;}
    .visualWrap .visualControl button:after{height: 1px;}
    .visualWrap .visualControl button .bar{height: 1px;margin-top: 2px;}
    .scrollDown{right: -14px;}
    .scrollDown p{margin-bottom: 40px;font-size: 12px;}
    .scrollDown i{width: 16px;height: 22px;}
    .scrollDown i:after{height: 5px;}
    
    .section02{padding: 50px 0 90px;}
    .section02:before{width: 35%;}
    .section02 .titleGroup{margin-left: 0;}
    .section02 .titleGroup .titleSm{font-size: 16px;}
    .section02 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .introductionSlide{margin-top: 30px;}
    .introductionSlide .swiper-slide{flex-direction: column;}
    .introductionSlide .txtBox{top: inherit;width: 100%;}
    .introductionSlide .txtBox .label{right: -5px;bottom: -25px;font-size: 80px;}
    .introductionSlide .txtBox .title{font-size: 25px;}
    .introductionSlide .txtBox .title:before{bottom: 17px;right: 30px;width: calc(100% - 170px);}
    .introductionSlide .txtBox .title:after{font-size: 30px;line-height: 40px;}
    .introductionSlide .txtBox .text{font-size: 15px;}
    .introductionSlide .txtBox a{width: 105px;height: 33px;margin-top: 88px;font-size: 12px;}
    .introductionSlide .imgBox{width: 100%;padding-bottom: 60%;border-radius: 0px 20px 20px 20px;}
    .introductionControl{bottom: -32px;right: 50%;width: 160px;transform: translateX(50%);}
    .introductionControl .swiper-button-prev, .introductionControl .swiper-button-next{font-size: 10px;}
    .introductionControl .swiper-button-prev span, .introductionControl .swiper-button-next span{width: 30px;height: 30px;background-size: 15px;}
    
    .section03{padding: 50px 0;background-image: url(../images/bg_section03_m.jpg);}
    .section03 .titleGroup .titleSm{font-size: 16px;}
    .section03 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .noticeBtnGroup{margin-top: 10px;justify-content: space-between;}
    .noticeBtnGroup li{padding: 0;font-size: 16px;}
    .noticeList li {width: 100%;height: auto;margin-top: 30px !important;}
    .noticeList li a .text{padding: 60px 15px 15px;}
    .noticeList li a .text .label{font-size: 13px;}
    .noticeList li a .text .date{font-size: 14px;}
    .noticeList li a .text .title{font-size: 20px;}
    .noticeList li a .text .button{font-size: 13px;}
    .noticeList li a .text .button:after{width: 22px;height: 22px;background-size: 19px;}
    .noticeList li a .img{height: 230px;}
    
    .section04{padding: 50px 0 40px;background-image: url(../images/bg_section04_m.jpg);}
    .section04 .inner{max-width: 100%;padding: 0 20px;box-sizing: border-box;}
    .section04 .titleGroup{margin-bottom: 30px;}
    .section04 .titleGroup:before{right: 80px;bottom: 20px;width: calc(100% - 260px);}
    .section04 .titleGroup:after{display: none;}
    .section04 .titleGroup .titleSm{font-size: 16px;}
    .section04 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .partnerSwiper{margin: 0 -100px;}
    .partnerSwiper .swiper-slide a{margin: 0 5px;}
    .partnerSwiper .swiper-slide .img{padding: 0 30px;box-sizing: border-box;}
    .partnerSwiper .swiper-slide .text{border-width: 3px;}
    .partnerSwiper .swiper-slide .text .name{font-size: 15px;}
    .partnerSwiper .swiper-slide .text .btn{font-size: 11px;}
    .partnerControl{position: absolute;top: 20px;right: 20px;width: 70px;height: 30px;display: flex;justify-content: space-between;}
    .partnerControl .swiper-button-prev, .partnerControl .swiper-button-next{position: inherit;top: inherit;width: 30px;height: 30px;margin-top: 0;background-size: 15px;}
    .partnerControl .swiper-button-prev{left: 0;}
    .partnerControl .swiper-button-next{right: 0;}
    .btnPartnerMore{width: 104px;height: 33px;margin: 40px auto 0;font-size: 12px;}

    .section05{padding: 50px 0 125px;}
    .section05 .titleGroup{margin-bottom: 30px;}
    .section05 .titleGroup:before{right: 30px;bottom: 20px;width: calc(100% - 200px);}
    .section05 .titleGroup:after{font-size: 30px;line-height: 45px;}
    .section05 .titleGroup .titleSm{font-size: 16px;}
    .section05 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .section05 .imgGroup{flex-direction: column;}
    .section05 .imgGroup > li{width: 100%;height: 240px;padding: 115px 25px 0;background-size: cover;}
    .section05 .imgGroup > li + li{margin-top: 15px;}
    .section05 .imgGroup > li > a{width: 105px;height: 33px;font-size: 13px;}
    .section05 .InfoGroup > ul{margin-top: 15px;}
    .section05 .InfoGroup > ul > li{height: 85px;padding: 20px 20px 0;border-radius: 10px;}
    .section05 .InfoGroup > ul > li + li{margin-top: 15px;}
    .section05 .InfoGroup > ul > li .stitle{font-size: 13px;}
    .section05 .InfoGroup > ul > li .title{font-size: 17px;margin-top: 0;}
    .section05 .InfoGroup > ul > li > a{right: 20px;width: 75px;height: 24px;padding: 0 10px;margin-top: -12px;font-size: 10px;}
    .section05 .InfoGroup > ul > li > a:after{right: 8px;width: 15px;height: 15px;background-size: 12px;}
    .consultingInfo{height: 190px;margin-top: 15px;padding: 10px 20px 20px;}
    .consultingInfo .consultingTitle{margin-top: 10px;}
    .consultingInfo .consultingTitle .stitle{font-size: 13px;}
    .consultingInfo .consultingTitle .title{font-size: 17px;margin-top: 0;}
    .consultingInfo ul{width: calc(100% - 150px);max-width: none;}
    .consultingInfo ul li{padding: 10px 0 10px 40px;}
    .consultingInfo ul li:before{width: 28px;height: 28px;margin-top: -14px;}
    .consultingInfo ul li:nth-child(1):before{background-image: url(../images/icon_tel_m.svg);}
    .consultingInfo ul li:nth-child(2):before{background-image: url(../images/icon_phone_m.svg);}
    .consultingInfo ul li:nth-child(3):before{background-image: url(../images/icon_email_m.svg);}
    .consultingInfo ul li strong{font-size: 14px;line-height: 1;}
    .consultingInfo ul li p{font-size: 12px;line-height: 1;}
    .btnKakao{width: 148px;height: 91px;padding: 32px 0 0 42px;background-size: 148px 91px;}
    .btnKakao p:nth-child(1){font-size: 11px;line-height: 17px;}
    .btnKakao p:nth-child(2){width: 82px;height: 20px;margin-top: 4px;font-size: 10px;}
    
}
@media screen and (max-width: 320px){
    .consultingInfo ul{width: calc(100% - 115px);}
    .btnKakao{width: 125px;padding: 32px 0 0 25px;}
}

/* scroll down */
@-webkit-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-moz-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-ms-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-o-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}

@-webkit-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-moz-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-ms-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-o-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}


@-webkit-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }
    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-moz-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }
    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-ms-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }
    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-o-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }
    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }
    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}