.section01 {position: relative;background: #333;overflow: hidden;}
.visualWrap{position: relative;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .visualBg img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.2);}
.visualSwiper .visualText{position: absolute;top: 50%;left: 50%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;padding-bottom: 50px;box-sizing: border-box;text-align: center;z-index: 1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.visualSwiper .visualText p{transform: translateY(1rem);-webkit-transform: translateY(1rem);-moz-transform: translateY(1rem);-ms-transform: translateY(1rem);-o-transform: translateY(1rem);opacity: 0;transition: 1.1s;-webkit-transition: 1.1s;-moz-transition: 1.1s;-ms-transition: 1.1s;-o-transition: 1.1s;transition-delay: 0.8s;}
.visualSwiper .visualText p:nth-child(1){margin-bottom: 19px;font-size: 28px;color: #FFF;font-weight: 350;line-height: 125%;letter-spacing: -1px;}
.visualSwiper .visualText p:nth-child(2){font-size: 60px;color: #FFF;font-weight: 900;line-height: 140%;letter-spacing: -1px;word-break: keep-all;}
.visualSwiper .visualText p:nth-child(3){font-size: 60px;color: #FFF;font-weight: 350;line-height: 140%;letter-spacing: -1px;word-break: keep-all;}
.visualSwiper .visualText p.text_delay01{transition-delay: 1.2s;}
.visualSwiper .visualText p.text_delay02{transition-delay: 1.6s;}
.visualWrap .visualControl{position: absolute;top: 50%;left: 50%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;padding-top: 350px;box-sizing: border-box;z-index: 1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.visualWrap .visualControl .swiper-button-prev, .visualWrap .visualControl .swiper-button-next{width: 50px;height: 50px;border-radius: 100%;background-color: rgba(255, 255, 255, 0.2);background-image: url(../images/arrow_left_white.png);background-size: 24px;background-position: center;background-repeat: no-repeat;-webkit-transition: .3s;transition: .3s;}
.visualWrap .visualControl .swiper-button-prev{left: 80px;}
.visualWrap .visualControl .swiper-button-next{right: 80px;transform: rotate(180deg);}
.visualWrap .visualControl .swiper-button-prev:after, .visualWrap .visualControl .swiper-button-next:after{display: none;}
.visualWrap .visualControl .swiper-button-prev:hover, .visualWrap .visualControl .swiper-button-next:hover{background-image: url(../images/arrow_left_blue.png);}
.visualWrap .visualControl button{position: relative;width: 120px;height: auto;background: none;border-radius: 0;font-size: 16px;color: #fff;font-weight: 700;text-align: left;opacity: 0.35;}
.visualWrap .visualControl button + button{margin-left: 8px;}
.visualWrap .visualControl button:after{content: "";position: absolute;left: 0;bottom: 0;display: block;width: 100%;height: 2px;background: rgba(255, 255, 255, 0.35);}
.visualWrap .visualControl button .bar{display: block;position: relative;width: 0;height: 2px;margin-top: 10px;background: #fff;overflow: hidden;vertical-align: middle;}
.visualWrap .visualControl button.on{opacity: 1;}
.visualWrap .visualControl button.on .bar{width: 100%;transition: all 6000ms;-webkit-transition: all 6000ms;-moz-transition: all 6000ms;-ms-transition: all 6000ms;-o-transition: all 6000ms;}
.visualSwiper .swiper-slide-active .visualBg img{transform: scale(1);transition: transform 2.5s;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) img{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}
.scrollDown {position: absolute;bottom: 50px;right: 34px;text-align: center;-webkit-animation: scrollDown 2.2s infinite;-moz-animation: scrollDown 2.2s infinite;-ms-animation: scrollDown 2.2s infinite;-o-animation: scrollDown 2.2s infinite;animation: scrollDown 2.2s infinite;z-index: 9;}
.scrollDown p {margin-bottom: 46px;font-size: 14px;color: #fff;font-weight: 400;line-height: 26px;transform: rotate(90deg);text-transform: uppercase;}
.scrollDown i {position: relative;display: inline-block;width: 19px;height: 28px;border: 1px solid #fff;border-radius: 15px;box-sizing: border-box;}
.scrollDown i:after {content: "";position: absolute;top: 5px;left: 50%;transform: translateX(-50%);width: 1px;height: 6px;border-radius: 2px;background: #fff;-webkit-animation: scrollDownIcon 2s infinite;-moz-animation: scrollDownIcon 2s infinite;-ms-animation: scrollDownIcon 2s infinite;-o-animation: scrollDownIcon 2s infinite;animation: scrollDownIcon 2s infinite;}

.section02{position: relative;padding: 160px 0 220px;overflow: hidden;}
.section02:before{content: "";position: absolute;top: 0;right: 0;transform: translate(100%, 0);width: 760px;height: 100%;background: #ECEFF3;transition: all 2s;-webkit-transition: all 2s;}
.section02.active:before{transform: translate(0, 0);}
.section02 .inner{position: relative;max-width: 1640px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.section02 .titleGroup{margin-left: 50px;}
.section02 .titleGroup .titleSm{font-size: 20px;color: #00295D;font-weight: 700;line-height: normal;}
.section02 .titleGroup .titleLg{margin-top: 2px;font-size: 52px;color: #222;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.section02 .titleGroup .titleLg b{font-weight: 700;}
.introductionSlide {margin-top: -100px;}
.introductionSlide .swiper-slide{display: flex;justify-content: flex-end;}
.introductionSlide .txtBox{position: absolute;left: 0;top: 170px;width: 703px;height: 504px;padding: 90px 58px 0 70px;background: #00295D;border-radius: 100px 0px 50px 0px;box-sizing: border-box;overflow: hidden;transform: translate(50px, 0);opacity: 0;z-index: 2;}
.introductionSlide .txtBox .label{position: absolute;right: -19px;bottom: -61px;font-size: 180px;color: rgba(255, 255, 255, 0.1);font-weight: 900;line-height: normal;letter-spacing: -1px;}
.introductionSlide .txtBox .title{position: relative;font-size: 40px;color: #FFF;font-weight: 500;line-height: 175%;letter-spacing: -1px;}
.introductionSlide .txtBox .title:before{content: "";position: absolute;right: 40px;bottom: 32px;width: 300px;height: 1px;background: #fff;}
.introductionSlide .txtBox .title:after{content: "+";position: absolute;right: 0;bottom: 0;font-size: 40px;color: #FFF;font-weight: 100;line-height: 70px;letter-spacing: -1px;}
.introductionSlide .txtBox .text{margin-top: 10px;font-size: 18px;color: #FFF;font-weight: 350;line-height: 32px;letter-spacing: -1px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.7;height: 5.1em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: keep-all;}
.introductionSlide .txtBox a{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;margin-top: 110px;border: 1px solid #FFF;border-radius: 50px;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.introductionSlide .txtBox a:hover{background: #fff;color: #00295D;}
.introductionSlide .imgBox{position: relative;width: 960px;height: 570px;border-radius: 20px;overflow: hidden;z-index: 1;}
.introductionSlide .imgBox img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.introductionSlide .swiper-slide-active .txtBox{transform: translate(0, 0);opacity: 1;transition: all 2s;-webkit-transition: all 2s;}

.introductionControl{position: absolute;bottom: -58px;right: 0;width: 220px;}
.introductionControl .swiper-button-prev, .introductionControl .swiper-button-next{position: inherit;top: inherit;width: auto;height: auto;display: flex;font-size: 13px;color: #00295D;font-weight: 500;letter-spacing: -0.6px;}
.introductionControl .swiper-button-prev span, .introductionControl .swiper-button-next span{width: 50px;height: 50px; background-color: #fff;background-image: url(../images/arrow_left_blue.png);background-size: 24px;background-position: center;background-repeat: no-repeat;border: 1px solid #00295D;border-radius: 100%;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;}
.introductionControl .swiper-button-prev span{margin-left: 10px;}
.introductionControl .swiper-button-next span{margin-right: 10px;transform: rotate(180deg);}
.introductionControl .swiper-button-prev:hover span, .introductionControl .swiper-button-next:hover span{background-color: #00295D;border-color: #00295D;background-image: url(../images/arrow_left_white.png);}
.introductionControl .swiper-button-prev:after, .introductionControl .swiper-button-next:after{display: none;}

.section03{position: relative;min-height: 750px;padding: 97px 0 145px;background-image: url(../images/bg_section03.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;}
.section03 .inner{display: flex;align-items: flex-start;flex-direction: row;flex-wrap: wrap;justify-content: space-between;max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.thumbControl{position: sticky;top: 150px;}
.thumbControl .titleSm{font-size: 20px;color: #00295D;font-weight: 700;line-height: normal;}
.thumbControl .titleLg{margin-top: 2px;font-size: 52px;color: #222;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.thumbControl .titleLg b{font-weight: 700;}
.thumbBtnGroup{margin-top: 50px;}
.thumbBtnGroup li{position: relative;width: 300px;padding: 22px 25px 22px 0;border-bottom: 1px solid #ddd;box-sizing: border-box;font-size: 24px;color: #555;font-weight: 400;line-height: normal;letter-spacing: -0.6px;cursor: pointer;}
.thumbBtnGroup li:after{content: "";position: absolute;right: 0;top: 50%;transform: translateY(-50%) rotate(180deg);width: 25px;height: 25px;background-color: #fff;background-image: url(../images/arrow_left_blue.png);background-size: 17px;background-position: center;background-repeat: no-repeat;border: 1px solid #00295D;border-radius: 100%;box-sizing: border-box;}
.thumbBtnGroup li.on{border-bottom: 2px solid #00295D;color: #00295D;font-weight: 700;}
.thumbBtnGroup li.on:after{background-color: #00295D;background-image: url(../images/arrow_left_white.png);}
.thumbListGroup > li:not(:first-of-type){display: none;}
.thumbList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;width: 826px;}
.thumbList li{width: 380px;height: 500px;}
.thumbList li:nth-child(2n+2){margin-top: 40px;}
.thumbList li a{display: block;background: #fff;border-radius: 10px;box-sizing: border-box;overflow: hidden;-webkit-transition: 0.5s;transition: 0.5s;}
.thumbList li a:hover{border-radius: 100px 10px;border: 3px solid #00295D;}
.thumbList li a .text{position: relative;padding: 67px 26px 39px;}
.thumbList li a .text .label{position: absolute;top: 20px;right: 19px;display: inline-block;padding: 5px 10px;background: #00295D;border-radius: 20px;box-sizing: border-box;font-size: 14px;color: #FFF;font-weight: 700;line-height: normal;text-align: center;}
.thumbList li a .text .date{ font-size: 15px;color: #888;font-weight: 500;line-height: normal;}
.thumbList li a .text .title{margin-top: 10px;font-size: 22px;color: #222;font-weight: 700;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.4;height: 2.8em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: keep-all;}
.thumbList li a .text .button{position: relative;display: inline-block;margin-top: 26px;padding-right: 35px;font-size: 14px;color: #9B9B9B;font-weight: 500;line-height: 26px;letter-spacing: -1px;-webkit-transition: 0.5s;transition: 0.5s;}
.thumbList li a .text .button:after{content: "";position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 24px;height: 24px;background-color: #fff;background-image: url(../images/arrow_right_gray.png);background-size: 20px;background-position: center;background-repeat: no-repeat;border: 1px solid #CECECE;border-radius: 100%;box-sizing: border-box;-webkit-transition: 0.5s;transition: 0.5s;}
.thumbList li a .img{position: relative;width: 100%;height: 250px;overflow: hidden;}
.thumbList li a .img img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1);}
.thumbList li a:hover{border-radius: 100px 10px;border: 3px solid #00295D;}
.thumbList li a:hover .text .button{color: #00295D;}
.thumbList li a:hover .text .button:after{border-color: #00295D;}
.thumbList li a:hover .img img{transform: scale(1.1);-webkit-transition: transform 2s;transition: transform 2s;}

.section04{position: relative;padding: 100px 0 109px;background-image: url(../images/bg_section04.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;}
.section04 .inner{position: relative;max-width: 1500px;width: 100%;margin: 0 auto;}
.section04 .titleGroup{position: relative;margin-bottom: 60px;}
.section04 .titleGroup:before{content: "";position: absolute;right: 40px;bottom: 32px;width: calc(100% - 300px);height: 1px;background: #fff;}
.section04 .titleGroup:after{content: "+";position: absolute;right: 0;bottom: 0;font-size: 40px;color: #FFF;font-weight: 100;line-height: 70px;letter-spacing: -1px;}
.section04 .titleGroup .titleSm{font-size: 20px;color: #FFF;font-weight: 700;line-height: normal;}
.section04 .titleGroup .titleLg{margin-top: 2px;font-size: 52px;color: #FFF;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.section04 .titleGroup .titleLg b{font-weight: 700;}
.partnerSwiper{margin: 0 -31px;}
.partnerSwiper .swiper-slide a{position: relative;display: block;height: 150px;margin: 0 31px;border-radius: 10px;background: #FFF;overflow: hidden;}
.partnerSwiper .swiper-slide .img{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.partnerSwiper .swiper-slide .text{position: absolute;left: 0;right: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;background: rgba(0, 41, 93, 0.9);border: 5px solid #46A4C6;border-radius: 10px;box-sizing: border-box;text-align: center;opacity: 0;-webkit-transition: .3s;transition: .3s;}
.partnerSwiper .swiper-slide .text .name{font-size: 24px;color: #FFF;font-weight: 700;line-height: 160%;letter-spacing: -1px;}
.partnerSwiper .swiper-slide .text .btn{font-size: 16px;color: #FFF;font-weight: 400;line-height: 160%;letter-spacing: -1px;}
.partnerSwiper .swiper-slide a:hover .text{opacity: 1;}
.partnerControl .swiper-button-prev, .partnerControl .swiper-button-next{top: calc(50% + 35px); width: 50px;height: 50px;border-radius: 100%;background-color: transparent;background-image: url(../images/arrow_left_white.png);background-size: 24px;background-position: center;background-repeat: no-repeat;border: 1px solid #fff;box-sizing: border-box;-webkit-transition: .3s;transition: .3s;}
.partnerControl .swiper-button-prev{left: -80px;}
.partnerControl .swiper-button-next{right: -80px;transform: rotate(180deg);}
.partnerControl .swiper-button-prev:after, .partnerControl .swiper-button-next:after{display: none;}
.partnerControl .swiper-button-prev:hover, .partnerControl .swiper-button-next:hover{background-color: #fff;background-image: url(../images/arrow_left_blue.png);}
.btnPartnerMore{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;margin: 50px auto 0;border: 1px solid #FFF;background: transparent;border-radius: 50px;box-sizing: border-box;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.btnPartnerMore:hover{background: #fff;color: #00295D;}

.section05{position: relative;padding: 100px 0 243px;background: #20293A;box-sizing: border-box;overflow: hidden;}
.section05 .inner{max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.section05 .titleGroup{position: relative;margin-bottom: 70px;}
.section05 .titleGroup:before{content: "";position: absolute;right: 40px;bottom: 32px;width: calc(100% - 250px);height: 1px;background: #fff;}
.section05 .titleGroup:after{content: "+";position: absolute;right: 0;bottom: 0;font-size: 40px;color: #FFF;font-weight: 100;line-height: 70px;letter-spacing: -1px;}
.section05 .titleGroup .titleSm{font-size: 20px;color: #FFF;font-weight: 700;line-height: normal;}
.section05 .titleGroup .titleLg{margin-top: 2px;font-size: 52px;color: #FFF;font-weight: 400;line-height: 70px;letter-spacing: -1px;}
.section05 .titleGroup .titleLg b{font-weight: 700;}
.section05 .imgGroup{display: flex;justify-content: space-between;align-items: center;counter-reset:list-number;}
.section05 .imgGroup > li{position: relative;width: 730px;width: calc(50% - 20px);height: 504px;padding: 290px 50px 0;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;counter-increment:list-number;}
.section05 .imgGroup > li:before{content: "0"counter(list-number);position: absolute;color: rgba(255, 255, 255, 0.15);font-size: 180px;font-weight: 900;line-height: normal;letter-spacing: -1px;}
.section05 .imgGroup > li:nth-child(1){background-image: url(../images/img_consulting01.jpg);border-radius: 100px 0px 0px 0px;}
.section05 .imgGroup > li:nth-child(2){background-image: url(../images/img_consulting02.jpg);border-radius: 0px 0px 100px 0px;}
.section05 .imgGroup > li:nth-child(1):before{bottom: -58px;right: -37px;}
.section05 .imgGroup > li:nth-child(2):before{bottom: -58px;right: -3px;}
.section05 .imgGroup > li .title{margin-bottom: 34px; font-size: 40px;color: #FFF;font-weight: 700;line-height: 70px;letter-spacing: -1px;}
.section05 .imgGroup > li > a{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;border: 1px solid #FFF;border-radius: 50px;box-sizing: border-box;background: transparent;font-size: 16px;color: #FFF;font-weight: 500;line-height: 35px;letter-spacing: -1px;text-align: center;transition: .3s;-webkit-transition: .3s;}
.section05 .imgGroup > li > a:hover{background: #00295D;border-color: #00295D;color: #fff;}
.section05 .InfoGroup{display: flex;justify-content: space-between;}
.section05 .InfoGroup > ul{width: calc(50% - 20px);margin-top: 40px;}
.section05 .InfoGroup > ul > li{position: relative;width: 100%;height: 180px;padding: 58px 40px 0;border-radius: 20px;box-sizing: border-box;}
.section05 .InfoGroup > ul > li:nth-child(1){background: #334487;}
.section05 .InfoGroup > ul > li:nth-child(2){background: #335987;}
.section05 .InfoGroup > ul > li .stitle{color: #AAA;font-size: 15px;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li .title{margin-top: 3px;color: #FFF;font-size: 28px;font-weight: 700;line-height: 140%;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li > a{position: absolute;top: 50%;right: 40px;display: flex;align-items: center;justify-content: flex-start;width: 120px;height: 40px;margin-top: -20px;padding: 0 22px;border-radius: 50px;background: #222;box-sizing: border-box;color: #FFF;font-size: 14px;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.section05 .InfoGroup > ul > li + li{margin-top: 30px;}
.section05 .InfoGroup > ul > li > a:after{content: "";position: absolute;right: 12px;top: 50%;transform: translateY(-50%);width: 24px;height: 24px;background-color: #fff;background-image: url(../images/arrow_right_gray.png);background-size: 20px;background-position: center;background-repeat: no-repeat;border: 1px solid #CECECE;border-radius: 100%;box-sizing: border-box;}
.consultingInfo{position: relative;display: flex;justify-content: space-between;align-items: flex-start;width: calc(50% - 20px);height: 390px;background: #FFF;padding: 25px 40px 50px;margin: 40px 0 0 0;border-radius: 20px;box-sizing: border-box;overflow: hidden;}
.consultingInfo .consultingTitle{margin-top: 15px;}
.consultingInfo .consultingTitle .stitle{font-size: 15px;color: #888;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.consultingInfo .consultingTitle .title{margin-top: 3px;font-size: 28px;color: #222;font-weight: 700;line-height: 140%;letter-spacing: -1px;}
.consultingInfo ul{width: 330px;max-width: calc(100% - 265px);}
.consultingInfo ul li{position: relative;padding: 23px 0 24px 85px;box-sizing: border-box;}
.consultingInfo ul li + li{border-top: 1px solid #DDDDDD;}
.consultingInfo ul li:before{content: "";position: absolute;left: 0;top: 50%;width: 60px;height: 60px;margin-top: -30px;background-color: #00295D;background-position: center;background-repeat: no-repeat;border-radius: 100%;box-sizing: border-box;}
.consultingInfo ul li:nth-child(1):before{background-image: url(../images/icon_tel.svg);}
.consultingInfo ul li:nth-child(2):before{background-image: url(../images/icon_phone.svg);}
.consultingInfo ul li:nth-child(3):before{background-image: url(../images/icon_email.svg);}
.consultingInfo ul li strong{font-size: 20px;color: #333;font-weight: 700;line-height: normal;letter-spacing: -0.6px;}
.consultingInfo ul li p{font-size: 18px;color: #333;font-weight: 400;line-height: 35px;}
.btnKakao{position: absolute;left: 0;bottom: 0;width: 297px;height: 182px;padding: 63px 0 0 92px;background-image: url(../images/bg_kakaotalk.png);background-position: center;background-repeat: no-repeat;box-sizing: border-box;}
.btnKakao p:nth-child(1){font-size: 17px;color: #381C1E;font-weight: 500;line-height: 35px;letter-spacing: -1px;}
.btnKakao p:nth-child(2){display: flex;align-items: center;justify-content: center;width: 140px;height: 40px;margin-top: 6px;border-radius: 50px;background: #381C1E;color: #F7E409;text-align: center;font-size: 14px;font-weight: 500;line-height: normal;letter-spacing: -1px;}

@media screen and (max-width: 1699px){

    .introductionControl{right: 20px;}
    .section04 .inner{max-width: calc(100% - 200px);}
    .partnerSwiper .swiper-slide a{margin: 0 10px;}

}

@media screen and (max-width: 1399px){

    .section02{padding: 100px 0 200px;}
    .section02:before{width: 40%;}
    .introductionSlide .imgBox{width: 50%;padding-bottom: 33%;height: 0;}
    .introductionSlide .txtBox{position: relative;top: 150px;width: 50%;height: auto;padding: 50px 30px 30px;border-radius: 65px 0 35px 0;z-index: 9;}
    .introductionSlide .txtBox .title:before{width: calc(100% - 250px);}
    .introductionControl{bottom: -50px;}
    .thumbList{width: 780px;}
    .section05 .InfoGroup{flex-direction: column;}
    .section05 .InfoGroup > ul{width: 100%;}
    .section05 .InfoGroup > ul > li{height: 120px;padding: 30px 40px 0;}
    .consultingInfo{width: 100%;}
    .consultingInfo ul{width: calc(100% - 300px);}
    
}

@media screen and (max-width: 1199px){

    .visualSwiper .visualText p:nth-child(1){margin-bottom: 20px;font-size: 24px;}
    .visualSwiper .visualText p:nth-child(2){font-size: 34px;}
    .visualSwiper .visualText p:nth-child(3){font-size: 34px;}
    .visualWrap .visualControl .swiper-button-prev{left: 50px;}
    .visualWrap .visualControl .swiper-button-next{right: 50px;}
    .scrollDown{bottom: 40px;right: 2%;}

    .introductionControl{bottom: 0;}
    .section03 .inner{display: block;}
    .thumbControl{position: inherit;top: inherit;}
    .thumbBtnGroup{width: 100%;margin-top: 20px;display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;border-bottom: 1px solid #ddd;box-sizing: border-box;}
    .thumbBtnGroup li{width: auto;padding: 5px 20px;border-bottom: 0;flex: 0 auto;font-size: 20px;text-align: center;}
    .thumbBtnGroup li:after{display: none;}
    .thumbList{width: 100%;}
    .thumbList li{width: calc(50% - 20px);margin-top: 40px;}
    .thumbList li a:hover{border-radius: 50px 10px;}
    .partnerSwiper .swiper-slide a{height: 100px;}
    .section05 .imgGroup > li{height: 300px;padding: 150px 40px 0;}
    .section05 .imgGroup > li:nth-child(1){border-radius: 50px 0px 0px 0px;}
    .section05 .imgGroup > li:nth-child(2){border-radius: 0px 0px 50px 0px;}
    .section05 .imgGroup > li:before{font-size: 100px;}
    .section05 .imgGroup > li .title{margin-bottom: 10px;font-size: 24px;line-height: 150%;}
    .section05 .imgGroup > li:nth-child(1):before{bottom: -30px;right: -10px;}
    .section05 .imgGroup > li:nth-child(2):before{bottom: -30px;right: -3px;}

}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 550px;}
    .visualSwiper .visualText p:nth-child(1){margin-bottom: 20px;font-size: 16px;}
    .visualSwiper .visualText p:nth-child(2){font-size: 28px;}
    .visualSwiper .visualText p:nth-child(3){font-size: 28px;}
    .visualWrap .visualControl{padding-top: 250px;}
    .visualWrap .visualControl .swiper-button-prev, .visualWrap .visualControl .swiper-button-next{display: none;}
    .visualWrap .visualControl button{width: 70px;font-size: 12px;}
    .visualWrap .visualControl button:after{height: 1px;}
    .visualWrap .visualControl button .bar{height: 1px;margin-top: 2px;}
    .scrollDown{right: -14px;}
    .scrollDown p{margin-bottom: 40px;font-size: 12px;}
    .scrollDown i{width: 16px;height: 22px;}
    .scrollDown i:after{height: 5px;}
    
    .section02{padding: 50px 0 90px;}
    .section02:before{width: 35%;}
    .section02 .titleGroup{margin-left: 0;}
    .section02 .titleGroup .titleSm{font-size: 16px;}
    .section02 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .introductionSlide{margin-top: 30px;}
    .introductionSlide .swiper-slide{flex-direction: column;}
    .introductionSlide .txtBox{top: inherit;width: 100%;}
    .introductionSlide .txtBox .label{right: -5px;bottom: -25px;font-size: 80px;}
    .introductionSlide .txtBox .title{font-size: 25px;}
    .introductionSlide .txtBox .title:before{bottom: 17px;right: 30px;width: calc(100% - 170px);}
    .introductionSlide .txtBox .title:after{font-size: 30px;line-height: 40px;}
    .introductionSlide .txtBox .text{font-size: 15px;}
    .introductionSlide .txtBox a{width: 105px;height: 33px;margin-top: 88px;font-size: 12px;}
    .introductionSlide .imgBox{width: 100%;padding-bottom: 60%;border-radius: 0px 20px 20px 20px;}
    .introductionControl{bottom: -32px;right: 50%;width: 160px;transform: translateX(50%);}
    .introductionControl .swiper-button-prev, .introductionControl .swiper-button-next{font-size: 10px;}
    .introductionControl .swiper-button-prev span, .introductionControl .swiper-button-next span{width: 30px;height: 30px;background-size: 15px;}
    
    .section03{padding: 50px 0;background-image: url(../images/bg_section03_m.jpg);}
    .section03 .titleGroup .titleSm{font-size: 16px;}
    .section03 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .thumbBtnGroup{margin-top: 10px;justify-content: space-between;}
    .thumbBtnGroup li{padding: 0;font-size: 16px;}
    .thumbList li {width: 100%;height: auto;margin-top: 30px !important;}
    .thumbList li a .text{padding: 60px 15px 15px;}
    .thumbList li a .text .label{font-size: 13px;}
    .thumbList li a .text .date{font-size: 14px;}
    .thumbList li a .text .title{font-size: 20px;}
    .thumbList li a .text .button{font-size: 13px;}
    .thumbList li a .text .button:after{width: 22px;height: 22px;background-size: 19px;}
    .thumbList li a .img{height: 230px;}
    
    .section04{padding: 50px 0 40px;background-image: url(../images/bg_section04_m.jpg);}
    .section04 .inner{max-width: 100%;padding: 0 20px;box-sizing: border-box;}
    .section04 .titleGroup{margin-bottom: 30px;}
    .section04 .titleGroup:before{right: 80px;bottom: 20px;width: calc(100% - 260px);}
    .section04 .titleGroup:after{display: none;}
    .section04 .titleGroup .titleSm{font-size: 16px;}
    .section04 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .partnerSwiper{margin: 0 -100px;}
    .partnerSwiper .swiper-slide a{margin: 0 5px;}
    .partnerSwiper .swiper-slide .img{padding: 0 30px;box-sizing: border-box;}
    .partnerSwiper .swiper-slide .text{border-width: 3px;}
    .partnerSwiper .swiper-slide .text .name{font-size: 15px;}
    .partnerSwiper .swiper-slide .text .btn{font-size: 11px;}
    .partnerControl{position: absolute;top: 20px;right: 20px;width: 70px;height: 30px;display: flex;justify-content: space-between;}
    .partnerControl .swiper-button-prev, .partnerControl .swiper-button-next{position: inherit;top: inherit;width: 30px;height: 30px;margin-top: 0;background-size: 15px;}
    .partnerControl .swiper-button-prev{left: 0;}
    .partnerControl .swiper-button-next{right: 0;}
    .btnPartnerMore{width: 104px;height: 33px;margin: 40px auto 0;font-size: 12px;}

    .section05{padding: 50px 0 125px;}
    .section05 .titleGroup{margin-bottom: 30px;}
    .section05 .titleGroup:before{right: 30px;bottom: 20px;width: calc(100% - 200px);}
    .section05 .titleGroup:after{font-size: 30px;line-height: 45px;}
    .section05 .titleGroup .titleSm{font-size: 16px;}
    .section05 .titleGroup .titleLg{    margin-top: 0;font-size: 36px;line-height: 50px;}
    .section05 .imgGroup{flex-direction: column;}
    .section05 .imgGroup > li{width: 100%;height: 240px;padding: 115px 25px 0;background-size: cover;}
    .section05 .imgGroup > li + li{margin-top: 15px;}
    .section05 .imgGroup > li > a{width: 105px;height: 33px;font-size: 13px;}
    .section05 .InfoGroup > ul{margin-top: 15px;}
    .section05 .InfoGroup > ul > li{height: 85px;padding: 20px 20px 0;border-radius: 10px;}
    .section05 .InfoGroup > ul > li + li{margin-top: 15px;}
    .section05 .InfoGroup > ul > li .stitle{font-size: 13px;}
    .section05 .InfoGroup > ul > li .title{font-size: 17px;margin-top: 0;}
    .section05 .InfoGroup > ul > li > a{right: 20px;width: 75px;height: 24px;padding: 0 10px;margin-top: -12px;font-size: 10px;}
    .section05 .InfoGroup > ul > li > a:after{right: 8px;width: 15px;height: 15px;background-size: 12px;}
    .consultingInfo{height: 190px;margin-top: 15px;padding: 10px 20px 20px;}
    .consultingInfo .consultingTitle{margin-top: 10px;}
    .consultingInfo .consultingTitle .stitle{font-size: 13px;}
    .consultingInfo .consultingTitle .title{font-size: 17px;margin-top: 0;}
    .consultingInfo ul{width: calc(100% - 150px);max-width: none;}
    .consultingInfo ul li{padding: 10px 0 10px 40px;}
    .consultingInfo ul li:before{width: 28px;height: 28px;margin-top: -14px;}
    .consultingInfo ul li:nth-child(1):before{background-image: url(../images/icon_tel_m.svg);}
    .consultingInfo ul li:nth-child(2):before{background-image: url(../images/icon_phone_m.svg);}
    .consultingInfo ul li:nth-child(3):before{background-image: url(../images/icon_email_m.svg);}
    .consultingInfo ul li strong{font-size: 14px;line-height: 1;}
    .consultingInfo ul li p{font-size: 12px;line-height: 1;}
    .btnKakao{width: 148px;height: 91px;padding: 32px 0 0 42px;background-size: 148px 91px;}
    .btnKakao p:nth-child(1){font-size: 11px;line-height: 17px;}
    .btnKakao p:nth-child(2){width: 82px;height: 20px;margin-top: 4px;font-size: 10px;}
    
}
@media screen and (max-width: 320px){
    .consultingInfo ul{width: calc(100% - 115px);}
    .btnKakao{width: 125px;padding: 32px 0 0 25px;}
}

/* scroll down */
@-webkit-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-moz-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-ms-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@-o-keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}
@keyframes scrollDown {
    0%, 100%{bottom: 40px;}
	50% {bottom: 30px;}
}

@-webkit-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-moz-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-ms-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@-o-keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}
@keyframes scrollDownIcon {
    0%{top: 5px;}
	100% {top: 15px;}
}