#sub{min-height: 700px;overflow: hidden;}
#sub + #footer{background: #F5F5F5;}

#subVisual{position: relative;height: 250px;display: flex;align-items: center;justify-content: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 3s forwards;}
/* #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05.jpg);}
#subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06.jpg);} */
#subVisual .visualbg.bg01:before, #subVisual .visualbg.bg03:before, #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual_odd.jpg);}
#subVisual .visualbg.bg02:before, #subVisual .visualbg.bg04:before, #subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual_even.jpg);}
#subVisual .visualtext{overflow: hidden;}
#subVisual .visualtext h2{font-size: min(2.5vw, 45px);color: #333;font-weight: 700;line-height: 70px;letter-spacing: -2px;text-align: center;}
.subContent{position: relative;min-height: 500px;padding: 70px 0 200px;box-sizing: border-box;overflow: hidden;}
.subContent .inner{max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.snbList{display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom: 100px;border: 1px solid #DDD;border-radius: 10px;box-sizing: border-box;}
.snbList a{position: relative;flex: 1;display: flex;align-items: center;justify-content: center;height: 60px;background: #FAFAFA;box-sizing: border-box;text-align: center;font-size: 19px;color: #444;font-weight: 500;letter-spacing: -1px;}
.snbList a:first-of-type{border-radius: 10px 0 0 10px;}
.snbList a:last-of-type{border-radius: 0 10px 10px 0;}
.snbList a + a{border-left: 1px solid #DDD;}
.snbList a.on:after{content: "";position: absolute;width: 0;height: 0;left: 50%;bottom: -8px;margin-left: -7px;border-top: 8px solid var(--main-color);border-left: 7px solid transparent;border-right: 7px solid transparent;}
.snbList a.on{background: #009843;color: var(--white-color);font-weight: 700;}
.subContent .subTitle{margin-bottom: 100px;text-align: center;}
.subContent .subTitle h3{font-size: min(3vw, 52px);color: #222;font-weight: 700;line-height: 1.5;letter-spacing: -1px;}

.dotList li{position: relative;padding-left: 15px;box-sizing: border-box;font-size: 18px;color: #666;font-weight: 400;line-height: 200%;letter-spacing: -0.6px;word-break: keep-all;}
.dotList li:before{content: "";position: absolute;top: 17px;left: 0;display: block;width: 5px;height: 5px;background: #009843;border-radius: 100%;}
.err{font-size: 19px;color: #009843;font-weight: 400;line-height: normal;letter-spacing: -1px;}
.err:before{content: "※";}

/* 센터소개 - 이사장 인사말 */
.greetingWrap{display: flex;justify-content: space-between;align-items: flex-start;}
.greetingWrap .imgGroup{position: relative;width: 46.6677%;}
.greetingWrap .imgGroup:before{content: "";position: absolute;top: 16px;left: -175px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.greetingWrap .imgGroup:after{content: "";position: absolute;top: 115px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.greetingWrap .imgGroup img{border-radius: 20px 0;overflow: hidden;}
.greetingWrap .textGroup{width: calc(53.3323% - 90px);}
.greetingWrap .textGroup strong{display: block;font-size: 32px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;word-break: keep-all;}
.greetingWrap .textGroup p{margin-top: 65px;font-size: 20px;color: #333;font-weight: 400;line-height: 150%;letter-spacing: -1px;word-break: keep-all;}
.greetingWrap .textGroup .sign{margin-top: 40px;font-size: 18px;color: #222;font-weight: 500;line-height: normal;letter-spacing: -1px;}
.greetingWrap .textGroup .sign em{margin-left: 10px;font-size: 50px;font-weight: 400;letter-spacing: -0.6px;font-family: "Nanum Brush Script";}

.imgWrap{position: relative;}
.imgWrap:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.imgWrap:after{content: "";position: absolute;top: 115px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}

/* 센터소개 - 조직도 */
.taskWrap h4{padding: 150px 0 70px;text-align: center;font-size: 36px;color: #009843;font-weight: 500;line-height: 160%;letter-spacing: -0.6px;}
.taskWrap h5{margin-bottom: 17px;font-size: 30px;color: #222;font-weight: 700;line-height: 40px;letter-spacing: -0.6px;}
.taskWrap > ul + h5{margin-top: 100px;}
.taskWrap > ul{display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;border-top: 1px solid #A0A0A0;border-bottom: 1px solid #ddd;box-sizing: border-box;overflow: hidden;}
.taskWrap > ul > li{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;width: 50%;height: 230px;padding: 0 20px 25px;margin-bottom: -1px;margin-top: 50px;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.taskWrap > ul > li:nth-child(2n+2):before{content: "";position: absolute;left: 0;top: -25px;width: 1px;height: 100%;background: #DDD;}
.taskWrap > ul > li .nameWrap{width: 40%;}
.taskWrap > ul > li:nth-child(2n+2) .nameWrap{padding-left: 20px;box-sizing: border-box;}
.taskWrap > ul > li .nameWrap .name{font-size: 30px;color: #000;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.taskWrap > ul > li .nameWrap .name span{margin-left: 5px;font-size: 18px;color: #222;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.taskWrap > ul > li .nameWrap .tel{margin-top: 12px;font-size: 20px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.taskWrap > ul > li .dotList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;width: 60%;}
.taskWrap > ul > li .dotList li{width: 50%;}

/* 센터소개 - 오시는 길 */
.locationMap{border: 1px solid #ddd;border-radius: 10px;box-sizing: border-box;overflow: hidden;}
.locationMap .root_daum_roughmap .wrap_controllers{border: 0;}
.locationMap .root_daum_roughmap .border1,.locationMap .root_daum_roughmap .border2,.locationMap .root_daum_roughmap .border3, .locationMap .root_daum_roughmap .border4{display: none;}
.locationInfo ul{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-start;border-top: 1px solid #009843;box-sizing: border-box;margin-top: 55px;}
.locationInfo ul li{display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;width: 50%;padding: 30px 0;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.locationInfo ul li .img{display: flex;align-items: center;justify-content: center;width: 100px;height: 100px;background: #FFF;border-radius: 100%;border: 1px solid #DDD;box-sizing: border-box;}
.locationInfo ul li .text{margin-left: 30px;}
.locationInfo ul li strong{font-size: 22px;color: #333;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;}
.locationInfo ul li p{margin-top: 10px;font-size: 18px;color: #666;font-weight: 400;line-height: 160%;letter-spacing: -0.6px;word-break: keep-all;}

/* 특성화사업 - 성동온(溫) 식빵 */
.sungdongonBreadWrap{position: relative;}
.sungdongonBreadWrap:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.sungdongonBreadWrap:after{content: "";position: absolute;top: 115px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.sungdongonBreadWrap h4{margin: 130px 0 50px;font-size: 36px;color: #009843;font-weight: 500;line-height: 160%;letter-spacing: -0.6px;text-align: center;}
.sungdongonBreadWrap ul{border-top: 1px solid #A0A0A0;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.sungdongonBreadWrap ul li{display: flex;align-items: flex-start;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding: 70px 33px 70px 50px;box-sizing: border-box;}
.sungdongonBreadWrap ul li + li{border-top: 1px solid #ddd;}
.sungdongonBreadWrap ul li strong{width: 40%;font-size: 36px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;}
.sungdongonBreadWrap ul li p{width: 60%;font-size: 22px;color: #333;font-weight: 400;line-height: 180%;letter-spacing: -1px;word-break: keep-all;}
.sungdongonBreadWrap ul li .imageGroup{width: 60%;display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;}
.sungdongonBreadWrap ul li .imageGroup img{width: calc(33.3% - 15px);border-radius: 10px;}

/* 게시판 기본 목록 */
.boardHeader{position: relative;display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: wrap;margin-bottom: 10px;}
.boardHeader:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.checkList li{display: inline-block;margin: 0;}
.checkList li + li{margin-left: 10px;}
.checkList input[type="radio"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0;}
.checkList input[type="radio"] + label{position: relative;display: inline-block;padding-left: 25px;margin-bottom: 0;font-size: 14px;line-height: 35px;color: #333;font-weight: 400;letter-spacing: -0.6px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;cursor: pointer;}
.checkList input[type="radio"] + label:before{content: " ";display: block;position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 20px;height: 20px;background-color: #fff;border: 1px solid #BBB;border-radius: 100%;box-sizing: border-box;text-align: center;vertical-align: middle;transition: .3s;-webkit-transition: .3s;}
.checkList input[type="radio"] + label:after{content: " ";position: absolute;left: 4px;top: 50%;transform: translateY(-50%);width: 12px;height: 12px;background-color: #BBB;border-radius: 100%;}
.checkList input[type="radio"]:checked + label{font-weight: 500;}
.checkList input[type="radio"]:checked + label:before{border-color: #009843;}
.checkList input[type="radio"]:checked + label:after{background-color: #009843;}
.checkList input[type="checkbox"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: 0;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.checkList input[type="checkbox"] + label{position: relative;display: inline-block;padding-left: 25px;font-size: 14px;color: #333;font-weight: 400;line-height: 22px;letter-spacing: -0.6px;box-sizing: border-box;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
.checkList input[type="checkbox"] + label:before{content: "";position: absolute;left: 0;top: 1px;display: block;width: 20px;height: 20px;background-color: #fff;background-position: center;background-repeat: no-repeat;border: 1px solid #BBB;border-radius: 3px;box-sizing: border-box;text-align: center;vertical-align: middle;transition: .3s;-webkit-transition: .3s;}
.checkList input[type="checkbox"]:checked + label{font-weight: 500;}
.checkList input[type="checkbox"]:checked + label:before{background-image: url(../images/sub/icon_check_white.svg);background-color: #009843;border-color: #009843;}

.searchArea{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: center;}
.searchArea select{width: 100px;height: 44px;}
.searchArea .searchInput{width: 200px;height: 44px;margin-left: 10px;border: 1px solid #DDD;box-sizing: border-box;}
.searchArea .btnSearch{width: 86px;height: 44px;margin-left: 10px;background: #009843;font-size: 14px;color: #FFF;font-weight: 500;line-height: normal;text-align: center;}
.boardListBasic {position: relative;width: 100%;border-top: 2px solid #009843;border-spacing: 0;border-collapse: separate;font-size: 15px;line-height: 24px;}
.boardListBasic:after{content: "";position: absolute;top: 115px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardListBasic thead tr:last-child > * {border-bottom: 1px solid #A0A0A0;}
.boardListBasic th, .boardListBasic td {height: 60px;padding: 15px 10px;text-align: center;box-sizing: border-box;}
.boardListBasic th {position: relative;background: #F9F9F9;color: #222;font-weight: 700;}
.boardListBasic td {border-bottom: 1px solid #DDD;color: #666;font-weight: 400;}
.boardListBasic td .noticeLabel{padding: 5px 14px;border-radius: 50px;background: #AFCA0B;box-sizing: border-box;font-size: 14px;color: #000;font-weight: 500;line-height: normal;letter-spacing: -0.6px;text-align: center;}
.boardListBasic td.td_subject{text-align: left;}
.boardListBasic td.td_subject a:hover{color: #333;text-decoration-line: underline;}
.boardListBasic td .newLabel{display: inline-block;width: 18px;height: 18px;background: #AFCA0B;border-radius: 100%;font-size: 12px;color: #FFF;font-weight: 500;line-height: normal;text-align: center;}
.boardListBasic td .fileLabel{display: inline-block;width: 16px;height: 21px;background-image: url(../images/sub/icon_file.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}
.boardListBasic td .replyLabel{display: inline-block;width: 70px;height: 30px;border: 1px solid #DDD;background: #FFF;border-radius: 5px;box-sizing: border-box;font-size: 13px;color: #666;font-weight: 500;line-height: 30px;letter-spacing: -0.6px;text-align: center;}
.boardListBasic td .replyLabel.on{border: 1px solid #009843;color: #009843;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 50px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;width: 160px;height: 50px;border-radius: 10px;box-sizing: border-box;font-size: 15px;font-weight: 500;letter-spacing: -1px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup .btnMainColor{background: #fff;border: 1px solid #009843;color: #009843;}
.boardBtnGroup .btnMainColor:hover, .boardBtnGroup .btnMainColor:hover{background: #009843;border: 1px solid #009843;color: #fff;}
.boardBtnGroup .btnGrayColor{background: #fff;border: 1px solid #A0A0A0;color: #666;}
.boardBtnGroup .btnGrayColor:hover, .boardBtnGroup .btnGrayColor:hover{background: #A0A0A0;border: 1px solid #A0A0A0;color: #fff;}

/* paging */
.paging {margin-top: 100px;text-align: center;font-size: 0;}
.paging a, .paging strong {display: inline-block;width: 36px;height: 36px;line-height: 34px;margin: 0 3px;box-sizing: border-box;font-size: 14px;color: #666;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong {border: 1px solid #009843;color: #009843;font-weight: 700;}
.paging #page_prev{margin: 0 9px 0 0;padding-left: 24px;background-position: left center;background-image: url(../images/sub/arrow_prev.png);}
.paging #page_next{margin: 0 0 0 9px;padding-right: 24px;background-image: url(../images/sub/arrow_next.png);background-position: right center;}
.paging #page_prev, .paging #page_next{display: inline-block;width: auto;background-repeat: no-repeat;box-sizing: border-box;font-size: 14px;color: #555;font-weight: 400;}

/* 게시판 기본 상세 */
.boardView{position: relative;border-top: 2px solid #009843;box-sizing: border-box;}
.boardView:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardView:after{content: "";position: absolute;top: 125px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardViewHeader{padding: 50px;border-bottom: 1px solid #ddd;box-sizing: border-box;text-align: center;}
.boardViewHeader .sort{font-size: 18px;color: #333;font-weight: 400;line-height: normal;letter-spacing: -0.6px;text-align: center;}
.boardViewHeader .title{margin: 7px 0 15px;font-size: 25px;color: #222;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.boardViewHeader .date, .boardViewHeader .hits{font-size: 18px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;text-align: center;}
.boardViewHeader .hits:before{content: "ㅣ";font-size: 18px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.fileWrap{display: flex;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.fileWrap strong{display: flex;justify-content: center;align-items: center;width: 200px;padding: 15px 0;background: #F9F9F9;border-right: 1px solid #ddd;box-sizing: border-box;font-size: 16px;color: #666;font-weight: 500;line-height: 35px;letter-spacing: -1px;}
.fileWrap ul{width: calc(100% - 200px);}
.fileWrap ul li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;width: 100%;padding: 15px 30px;box-sizing: border-box;}
.fileWrap ul li + li{border-top: 1px solid #ddd;}
.fileWrap ul li p{padding-left: 26px;background-image: url(../images/sub/icon_file.svg);background-position: left center;background-repeat: no-repeat;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.fileWrap ul li a{padding: 10px 20px;background: #FFF;border: 1px solid #009843;box-sizing: border-box;font-size: 13px;color: #009843;font-weight: 500;line-height: 20px;letter-spacing: -1px;text-align: center;}
.boardViewbody{padding: 50px;box-sizing: border-box;}
.boardViewNav{margin-bottom: 80px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.boardViewNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardViewNav li + li{border-top: 1px solid #ddd;}
.boardViewNav li p{display: flex;align-items: center;justify-content: center;width: 200px;height: 60px;background: #F9F9F9;font-size: 16px;color: #666;font-weight: 500;vertical-align: middle;letter-spacing: -1px;}
.boardViewNav li a{position: relative;width: calc(100% - 200px);padding-left: 40px;box-sizing: border-box;vertical-align: middle;font-size: 18px;color: #666;font-weight: 400;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* 게시판 갤러리 목록 */
.boardListPhoto{position: relative;display: flex;flex-direction: row;flex-wrap: wrap;padding: 50px 0;border-top: 2px solid #009843;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.boardListPhoto:after{content: "";position: absolute;top: 125px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardListPhoto > li{width: calc(33.3% - 20px);margin-left: 30px;margin-top: 40px;}
.boardListPhoto > li:nth-child(3n+1){margin-left: 0;}
.boardListPhoto > li:nth-child(-n+3){margin-top: 0;}
.boardListPhoto > li a{position: relative;box-sizing: border-box;}
.boardListPhoto > li .imgArea{position: relative;width: 100%;height: 315px;overflow: hidden;}
.boardListPhoto > li .imgArea img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.boardListPhoto > li .textArea{padding: 37px 30px 40px;background: #FFF;border: 1px solid #ddd;box-sizing: border-box;}
.boardListPhoto > li .textArea .title{font-size: 24px;color: #333;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.boardListPhoto > li .textArea .text{margin: 18px 0;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;height: 3em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.boardListPhoto > li .textArea .info{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: wrap;}
.boardListPhoto > li .textArea .sort{font-size: 15px;color: #333;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.boardListPhoto > li .textArea .date{font-size: 15px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.boardListPhoto > li .textArea .user{font-size: 15px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.boardListPhoto > li .textArea .user:before{content: "ㅣ";font-size: 16px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.boardListPhoto > li a:hover .textArea{background: #fff;}
.boardListPhoto > li a:hover .textArea .title{font-weight: 700;text-decoration: underline;}

/* 게시판 입력폼 */
.boardForm {position: relative;width: 100%;margin-bottom: 50px;border-top: 2px solid #009843;border-bottom: 1px solid #DDD;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.boardForm:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardForm:after{content: "";position: absolute;top: 125px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.boardForm th, .boardForm td {height: 60px;padding: 8px 20px;box-sizing: border-box;}
.boardForm th {position: relative;background: #F9F9F9;border-top: 1px solid #DDD;font-size: 15px;color: #222;font-weight: 700;letter-spacing: -1px;text-align: center;}
.boardForm td {border-top: 1px solid #DDD;font-size: 14px;color: #666;font-weight: 400;text-align: left;}
.boardForm td input, .boardForm td select{width: 250px;font-size: 15px;color: #666;font-weight: 400;text-align: left;}
.secretArea{display: inline-block;padding: 10px;border-radius: 5px;border: 1px solid #DCDCDC;box-sizing: border-box;}
.boardForm textarea{height: 280px;}
.consentWrap{border-bottom: 1px solid #ddd;box-sizing: border-box;}
.consentWrap .consentText{padding: 30px;border: 1px solid #E2E2E2;border-radius: 5px;box-sizing: border-box;}
.consentWrap .consentText strong{display: block;margin-bottom: 5px;font-size: 16px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;}
.consentWrap .consentText p{font-size: 15px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;}
.consentWrap .consentCheck{position: relative;padding-left: 29px;margin: 20px 0;}
.consentWrap .consentCheck input{position: absolute;top: 3px;left: 0;width: 20px;height: 20px;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: 0;text-decoration: none;cursor: pointer;-webkit-text-size-adjust: none;}
.consentWrap .consentCheck label:before{content: "";position: absolute;top: 3px;left: 0;width: 20px;height: 20px;background-color: #fff;background-image: url(../images/sub/icon_check_white.svg);background-position: center;background-repeat: no-repeat;border: 1px solid #BBB;border-radius: 3px;box-sizing: border-box;transition: .3s;-webkit-transition: .3s;}
.consentWrap .consentCheck label{display: inline-block;font-size: 14px;color: #777;font-weight: 400;line-height: normal;letter-spacing: -0.6px;cursor: pointer;}
.consentWrap .consentCheck input:checked + label:before{background-color: #009843;border-color: #009843;}

/* 센터사업 */
.tabNav{display: flex;align-items: center;justify-content: center;margin-bottom: 100px;}
.tabNav li + li{margin-left: 10px;}
.tabNav li a{display: flex;align-items: center;justify-content: center;width: 250px;height: 60px;border-radius: 20px;background: #CCC;border: 2px solid #CCC;box-sizing: border-box;font-size: 19px;color: #FFF;font-weight: 700;letter-spacing: -1px;text-align: center;transition: .3s;-webkit-transition: .3s;}
.tabNav li.on a{background: rgba(0, 152, 67, 0.05);border-color: #009843;color: #009843;}
.tabDetails{display: none;}
.volunteerwork{position: relative;}
.volunteerwork:before{content: "";display: none;position: absolute;top: -95px;left: -125px;width: 215px;height: 162px;background-image: url(../images/layout/bg_before.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.volunteerwork:after{content: "";position: absolute;top: 115px;right: -146px;width: 238px;height: 201px;background-image: url(../images/layout/bg_after.svg);background-position: center;background-repeat: no-repeat;z-index: -1;}
.volunteerwork > ul.list{border-top: 1px solid #A0A0A0;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.volunteerwork > ul.list > li{display: flex;align-items: flex-start;flex-direction: row;flex-wrap: wrap;justify-content: space-between;min-height: 220px;padding: 70px 33px 70px 50px;box-sizing: border-box;}
.volunteerwork > ul.list > li + li{border-top: 1px solid #ddd;}
.volunteerwork > ul.list > li > strong{width: 37%;font-size: 30px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;}
.volunteerwork > ul.list > li > div{width: 63%;}
.volunteerwork > ul.list > li > div > p{font-size: 22px;color: #333;font-weight: 400;line-height: 180%;letter-spacing: -1px;word-break: keep-all;}
.volunteerwork > ul.list .tips{position: relative;padding: 35px 30px 30px;margin-top: 35px;border: 1px solid #A0A0A0;background: #F9F9F9;box-sizing: border-box;}
.volunteerwork > ul.list .tips span{position: absolute;top: -20px;right: 30px;display: flex;justify-content: center;align-items: center;width: 150px;height: 35px;background: #009843;border-radius: 30px;font-size: 15px;color: #FFF;font-weight: 700;line-height: normal;text-align: center;}
.volunteerwork > ul.list .tips strong{padding-left: 43px;background-image: url(../images/sub/icon_tips.svg);background-position: left center;background-repeat: no-repeat;font-size: 24px;color: #009843;font-weight: 500;line-height: 180%;letter-spacing: -1px;text-decoration-line: underline;}
.volunteerwork > ul.list .tips p{font-size: 18px;color: #333;font-weight: 400;line-height: 180%;letter-spacing: -1px;}
.volunteerwork > ul.categorize {display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;justify-content: space-around;padding: 70px 40px 80px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.volunteerwork > ul.categorize:first-child {border-top: 1px solid #A0A0A0;}
.volunteerwork > ul.categorize > li {width: calc(33.3% - 55px);}
.volunteerwork > ul.categorize > li + li {margin-left: 80px;}
.volunteerwork > ul.categorize > li > strong{display: block;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px dashed #A0A0A0;box-sizing: border-box;color: #222;font-size: 30px;font-weight: 500;line-height: 150%;letter-spacing: -1px;}
.volunteerwork > ul.categorize > li > ul > li{font-size: 20px;}
.volunteerwork > .part{border-top: 1px solid #A0A0A0;}
.volunteerwork > .part > h5{padding: 70px 0 20px;margin: 0 40px;border-bottom: 1px dashed #A0A0A0;box-sizing: border-box;font-size: 30px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;}
.volunteerwork > .part > ul{display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;justify-content: space-between;padding: 30px 80px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.volunteerwork > .part > ul > li{display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;align-items: flex-start;width: 50%;padding: 30px 10px;padding-left: 160px;background-image: url(../images/sub/icon_camp.svg);background-position: left center;background-repeat: no-repeat;box-sizing: border-box;}
.volunteerwork > .part > ul > li > strong{margin-bottom: 10px;font-size: 22px;color: #333;font-weight: 500;line-height: 180%;letter-spacing: -1px;}
.contribution h4{display: block;padding-bottom: 50px;border-bottom: 1px solid #A0A0A0;box-sizing: border-box;color: #009843;font-size: 36px;font-weight: 700;line-height: 160%;letter-spacing: -0.6px;text-align: center;}
.contribution > ul > li{padding: 70px 40px;box-sizing: border-box;}
.contribution > ul > li + li{border-top: 1px solid #DDD;}
.contribution > ul > li > strong{display: block;font-size: 30px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;}
.contribution > ul > li > p{display: block;padding-top: 19px;margin-top: 19px;border-top: 1px dashed #A0A0A0;box-sizing: border-box;font-size: 22px;color: #333;font-weight: 400;line-height: 180%;letter-spacing: -1px;word-break: keep-all;}
.contribution > ul > li > .step{margin-top: 50px;}
.contribution > ul > li > .step > li{display: flex;min-height: 240px;padding: 0 0 0 280px;background-color: #F9F9F9;background-position: 50px center;background-repeat: no-repeat;border: 1px solid #A0A0A0;border-radius: 10px;flex-direction: column;justify-content: center;align-items: flex-start;flex-wrap: wrap;}
.contribution > ul > li > .step > li + li{margin-top: 20px;}
.contribution > ul > li > .step > li:nth-child(1){background-image: url(../images/sub/icon_contribution01.png);}
.contribution > ul > li > .step > li:nth-child(2){background-image: url(../images/sub/icon_contribution02.png);}
.contribution > ul > li > .step > li:nth-child(3){background-image: url(../images/sub/icon_contribution03.png);}
.contribution > ul > li > .step > li > strong{font-size: 22px;color: #333;font-weight: 500;line-height: 35px;letter-spacing: -1px;}
.contribution .thumbsworkList > li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;padding: 70px 40px;border-top: 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.contribution .thumbsworkList > li > .img{position: relative;width: 500px;height: 360px;border: 1px solid #ddd;border-radius: 10px;box-sizing: border-box;overflow: hidden;z-index: 1;}
.contribution .thumbsworkList > li > .img img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.contribution .thumbsworkList > li > .text{width: calc(100% - 580px);}
.contribution .thumbsworkList > li > .text > strong{display: block;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px dashed #A0A0A0;box-sizing: border-box;font-size: 30px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -1px;word-break: keep-all;}
.contribution .thumbsworkList > li > .text > p{font-size: 22px;color: #333;font-weight: 400;line-height: 180%;letter-spacing: -1px;word-break: keep-all;}
.contribution .thumbsworkList .dotList{margin-top: 20px;}
.contribution .thumbsworkList .dotList li{font-size: 20px;}

@media screen and (max-width: 1499px){

    .greetingWrap .imgGroup{width: 45%;}
    .greetingWrap .textGroup{width: calc(55% - 50px);}

    .taskWrap > ul > li{width: 100%;}
    .taskWrap > ul > li:nth-child(2n+2):before{display: none;}
    .taskWrap > ul > li:nth-child(2n+2) .nameWrap{padding-left: 0;}
}

@media screen and (max-width: 1199px){

    #subVisual{height: 200px;}
    #subVisual .visualtext h2{font-size: min(3.5vw, 40px);}
    .subContent{padding: 50px 0 100px;}
    .snbList{overflow: hidden;}
    .snbList a{flex: 50%;background: var(--white-color);border-top: 1px solid #ddd;font-size: 18px;}
    .snbList a + a{border-left: 0;}
    .snbList a:first-of-type, .snbList a:last-of-type{border-radius: 0;}
    .snbList a:nth-child(2n+2){border-left: 1px solid #ddd;}
    .snbList a:nth-child(-n+2){border-top: 0;}
    .snbList a.on:after{bottom: auto;top: -1px;border-top: 8px solid var(--white-color);}
    .subContent .subTitle{margin-bottom: 50px;}
    .subContent .subTitle h3{font-size: min(3.5vw, 40px);}

    .locationInfo ul li{width: 100%;}

    .sungdongonBreadWrap ul li{flex-direction: column;padding: 20px 0;}
    .sungdongonBreadWrap ul li strong{width: 100%;font-size: 28px;}
    .sungdongonBreadWrap ul li p{width: 100%;margin-top: 20px;font-size: 18px;}
    .sungdongonBreadWrap ul li .imageGroup{width: 100%;margin-top: 20px;}

    .boardListPhoto > li{width: calc(50% - 10px);margin-left: 20px;margin-top: 20px;}
    .boardListPhoto > li:nth-child(3n+1){margin-left: 20px;}
    .boardListPhoto > li:nth-child(-n+3){margin-top: 20px;}
    .boardListPhoto > li:nth-child(2n+1){margin-left: 0;}
    .boardListPhoto > li:nth-child(-n+2){margin-top: 0;}
    .boardListPhoto > li .textArea{padding: 20px;}

    .volunteerwork > ul.list > li{flex-direction: column;min-height: auto;padding: 20px 0;}
    .volunteerwork > ul.list > li > strong{width: 100%;font-size: 28px;}
    .volunteerwork > ul.list > li > div{width: 100%;margin-top: 20px;}
    .volunteerwork > ul.list > li > div > p{font-size: 18px;}
    .volunteerwork > ul.categorize{border-bottom: 0;padding: 0;}
    .volunteerwork > ul.categorize > li {width: 100%;padding: 30px 20px 50px;border-bottom: 1px solid #DDD;}
    .volunteerwork > ul.categorize > li + li {margin-left: 0;}
    .volunteerwork > .part > h5{padding: 20px 0;margin: 0 20px;}
    .volunteerwork > .part > ul{padding: 30px 20px;}
    .volunteerwork > .part > ul > li{width: 100%;}

    .contribution .thumbsworkList > li{padding: 30px;}
    .contribution .thumbsworkList > li > .img{width: 40%;}
    .contribution .thumbsworkList > li > .text{width: calc(60% - 50px);}
}

@media screen and (max-width: 767px){

    #subVisual{height: 150px;}
    /* #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
    #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05_m.jpg);}
    #subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06_m.jpg);} */
    #subVisual .visualbg.bg01:before, #subVisual .visualbg.bg03:before, #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual_odd_m.jpg);}
    #subVisual .visualbg.bg02:before, #subVisual .visualbg.bg04:before, #subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual_even_m.jpg);}
    #subVisual .visualtext h2{font-size: min(7.7vw, 30px);}

    .subContent{padding: 40px 0 80px;}
    .snbList{margin-bottom: 40px;}
    .snbList a{height: 45px;font-size: 14px;}
    .subContent .subTitle{margin-bottom: 30px;}
    .subContent .subTitle h3{font-size: min(8vw, 28px);}

    .dotList li{padding-left: 12px;font-size: 14px;line-height: 180%;}
    .dotList li:before{top: 11px;}
    .err{font-size: 13px;}

    .greetingWrap{flex-direction: column;flex-wrap: nowrap;}
    .greetingWrap .imgGroup{width: 100%;order: 1;}
    .greetingWrap .imgGroup:before{top: -100px;left: -120px;}
    .greetingWrap .imgGroup:after{top: 130px;}
    .greetingWrap .textGroup{width: 100%;order: 2;}
    .greetingWrap .textGroup{margin-top: 30px;}
    .greetingWrap .textGroup strong{font-size: 20px;}
    .greetingWrap .textGroup p{margin-top: 20px;font-size: 15px;}
    .greetingWrap .textGroup .sign{margin-top: 25px;font-size: 14px;}
    .greetingWrap .textGroup .sign em{margin-left: 5px;font-size: 36px;}

    .imgWrap:before{display: block;}

    .taskWrap h4{padding: 50px 0 20px;font-size: 24px;text-align: left;}
    .taskWrap h5{margin-bottom: 8px;font-size: 20px;}
    .taskWrap > ul + h5{margin-top: 30px;}
    .taskWrap > ul > li{height: auto;padding: 20px 0;margin-top: 0;}
    .taskWrap > ul > li .nameWrap .name{font-size: 20px;}
    .taskWrap > ul > li .nameWrap .name span{font-size: 14px;}
    .taskWrap > ul > li .nameWrap .tel{margin-top: 8px;font-size: 15px;}
    .taskWrap > ul > li .dotList li{width: 100%;}
    
    .locationMap .wrap_map{height: 320px !important;}
    .locationInfo ul{margin-top: 30px;}
    .locationInfo ul li{padding: 20px 0;}
    .locationInfo ul li .img{width: 60px;height: 60px;}
    .locationInfo ul li .text{margin-left: 20px;}
    .locationInfo ul li strong{font-size: 16px;}
    .locationInfo ul li p{margin-top: 5px;font-size: 14px;}

    .sungdongonBreadWrap:before{display: block;}
    .sungdongonBreadWrap h4{margin: 50px 0 20px; font-size: 21px;}
    .sungdongonBreadWrap ul li strong{font-size: 19px;}
    .sungdongonBreadWrap ul li p{font-size: 15px;}
    .sungdongonBreadWrap ul li .imageGroup{flex-direction: column;}
    .sungdongonBreadWrap ul li .imageGroup img{width: 100%;}
    .sungdongonBreadWrap ul li .imageGroup img + img{margin-top: 20px;}

    .boardHeader{margin-bottom: 15px;}
    .boardHeader:before{display: block;}
    .boardHeader p{font-size: 13px;}
    .sortArea {order: 2;}
    .searchArea{order: 1;margin-bottom: 30px;}
    .searchArea select{width: 80px;}
    .searchArea .searchInput{width: calc(100% - 150px);margin-left: 5px;}
    .searchArea .btnSearch{width: 60px;margin-left: 5px;}
    .boardListBasic colgroup,
    .boardListBasic thead{display: none;}
    .boardListBasic .mNone{display: none;}
    .boardListBasic tr{position: relative;display: block;padding: 20px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .boardListBasic td{display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 14px;color: #999;}
    .boardListBasic td.td_subject{display: block;}
    .boardListBasic td.td_subject a{font-size: 16px;color: #666;}
    .boardListBasic td.hits {line-height: 1;border-left: 1px solid #DDD;margin: 0 10px;padding-left: 10px;}
    .boardListBasic td.hits:before{content: "조회수";}
    .boardListBasic td .fileLabel{width: 12px;height: 16px;}
    .boardListBasic td .replyLabel{width: 60px;height: 25px;line-height: 23px;font-size: 12px;}
    .boardBtnGroup{margin-top: 30px;}
    .boardBtnGroup button, .boardBtnGroup a{flex: 1;height: 40px;font-size: 14px;}
    .boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 7px;}
    .paging{margin-top: 50px;}
    .paging a, .paging strong{margin: 0 2px;}
    .paging #page_prev{margin: 0 5px 0 0;padding-left: 20px;}
    .paging #page_next{margin: 0 0 0 5px;padding-right: 20px;}

    .boardViewHeader{padding: 25px 0;}
    .boardViewHeader .sort{font-size: 14px;}
    .boardViewHeader .title{margin: 0 0 15px;font-size: 18px;}
    .boardViewHeader .date, .boardViewHeader .hits{font-size: 13px;}
    .boardViewHeader .hits:before{font-size: 13px;}
    .fileWrap{flex-direction: column;}
    .fileWrap strong{width: 100%;padding: 7px 0;background: #F9F9F9;border: 1px solid #ddd;border-top: 0;font-size: 14px;}
    .fileWrap ul{width: 100%;}
    .fileWrap ul li{padding: 5px 10px;}
    .fileWrap ul li + li{border-top: 1px solid #ddd;}
    .fileWrap ul li p{padding-left: 20px;background-size: 12px 16px;font-size: 14px;}
    .fileWrap ul li a{padding: 3px 5px;font-size: 11px;}
    .boardViewbody{padding: 30px 0;}
    .boardViewNav li p{width: 97px;height: 50px;font-size: 14px;}
    .boardViewNav li a{width: calc(100% - 97px);padding-left: 20px;font-size: 14px;}

    .boardListPhoto{padding: 28px 0;}
    .boardListPhoto > li{width: 100%;margin-left: 0 !important;margin-top: 20px !important;}
    .boardListPhoto > li:first-child{margin-top: 0 !important;}
    .boardListPhoto > li .imgArea{height: 220px;}
    .boardListPhoto > li .textArea .title{font-size: 19px;}
    .boardListPhoto > li .textArea .text{margin: 12px 0;font-size: 15px;}
    .boardListPhoto > li .textArea .sort, .boardListPhoto > li .textArea .date, .boardListPhoto > li .textArea .user, .boardListPhoto > li .textArea .user:before{font-size: 14px;}

    .boardForm{margin-bottom: 20px;}
    .boardForm:before{display: block;}
    .boardForm colgroup,
    .boardForm thead{display: none;}
    .boardForm tr{position: relative;display: block;}
    .boardForm th, .boardForm td{display: block;height: auto;}
    .boardForm th{padding: 0;border: 1px solid #DDD;line-height: 48px;font-size: 14px;}
    .boardForm td{padding: 10px 0;border-top: 0;font-size: 13px;}
    .boardForm td input, .boardForm td select{width: 100%;font-size: 13px;}
    .boardForm textarea{height: 200px;font-size: 13px;}
    .consentWrap .consentText{padding: 20px;}
    .consentWrap .consentText strong{font-size: 14px;}
    .consentWrap .consentText p{font-size: 13px;}

    .tabNav{margin-bottom: 50px;}
    .tabNav li + li{margin-left: 5px;}
    .tabNav li a{width: 140px;height: 40px;border-width: 1px;border-radius: 10px;font-size: 14px;}
    .volunteerwork:before{display: block;}
    .volunteerwork > ul.list > li > strong{font-size: 19px;}
    .volunteerwork > ul.list > li > div > p{font-size: 15px;}
    .volunteerwork > ul.list .tips{padding: 20px;margin-top: 25px;}
    .volunteerwork > ul.list .tips strong{padding-left: 27px;background-size: 23px;font-size: 16px;}
    .volunteerwork > ul.list .tips span{top: -12px;right: 20px;width: 50px;height: 24px;font-size: 12px;}
    .volunteerwork > ul.list .tips p{font-size: 15px;}
    .volunteerwork > ul.categorize > li{padding: 20px;}
    .volunteerwork > ul.categorize > li > strong{font-size: 19px;text-align: center;}
    .volunteerwork > ul.categorize > li > ul > li{font-size: 15px;}
    .volunteerwork > .part > h5{font-size: 19px;text-align: center;}
    .volunteerwork > .part > ul{padding: 15px 20px;}
    .volunteerwork > .part > ul > li{padding: 10px 0;padding-left: 100px;background-size: 80px;}
    .volunteerwork > .part > ul > li > strong{margin-bottom: 5px;font-size: 15px;}
 
    .contribution h4{padding-bottom: 17px;font-size: 21px;}
    .contribution > ul > li{padding: 20px;}
    .contribution > ul > li > strong{font-size: 19px;text-align: center;}
    .contribution > ul > li > p{font-size: 15px;}
    .contribution > ul > li > .step{margin-top: 20px;}
    .contribution > ul > li > .step > li{min-height: 120px;padding: 0 0 0 110px;background-size: 80px;background-position: 15px center;}
    .contribution > ul > li > .step > li + li{margin-top: 10px;}
    .contribution > ul > li > .step > li > strong{font-size: 16px;}
    .contribution .thumbsworkList > li{flex-direction: column;padding: 20px;}
    .contribution .thumbsworkList > li > .img{width: 100%;height: 220px;}
    .contribution .thumbsworkList > li > .text{width: 100%;}
    .contribution .thumbsworkList > li > .text > strong{padding-top: 20px;font-size: 19px;text-align: center;}
    .contribution .thumbsworkList > li > .text > p{font-size: 16px;}
    .contribution .thumbsworkList .dotList li{font-size: 15px;}

}

@keyframes scale{ 
	0%{transform: scale(1.2);}
	100%{transform: scale(1);}
}