#sub{min-height: 700px;overflow: hidden;}

#subVisual{position: relative;height: 600px;padding: 238px 0 0;box-sizing: border-box;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 1s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05.jpg);}
#subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06.jpg);}
#subVisual .visualtext p{font-size: 28px;color: #FFF;font-weight: 350;line-height: 125%;letter-spacing: -1px;text-align: center;}
#subVisual .visualtext h2{overflow: hidden;margin-top: 5px;font-size: 60px;color: #FFF;font-weight: 900;line-height: 140%;letter-spacing: -1px;text-align: center;}
#subVisual .lnbWrap{position: absolute;bottom: 0;left: 50%;width: 50%;}
#subVisual .lnb{display: flex;align-items: center;}
#subVisual .lnb > li.home{width: 100px;height: 100px;}
#subVisual .lnb > li.home a{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;background: #46A4C6;}
#subVisual .lnb > li:nth-child(2){display: none;}
#subVisual .lnb > li:nth-child(3){width: calc(100% - 100px);height: 100px;background: #00295D;overflow-x: auto;-webkit-overflow-scrolling: touch;scrollbar-color: rgba(255, 255, 255, 0.2) transparent;scrollbar-width: thin;}
#subVisual .lnb > li > button{display: none;}
#subVisual .lnb > li > ul{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: flex-start;width: max-content;height: 100%;padding: 0 30px;box-sizing: border-box;}
#subVisual .lnb > li > ul > li + li{margin-left: 30px;}
#subVisual .lnb > li > ul > li > a{font-size: 18px;color: rgba(255, 255, 255, 0.5);font-weight: 500;line-height: normal;letter-spacing: -1px;}
#subVisual .lnb > li > ul > li.on > a{color: #fff;text-decoration: underline;}

.subContent{position: relative;min-height: 500px;padding: 120px 0 200px;box-sizing: border-box;overflow: hidden;}
.subContent:before{content: "";position: absolute;top: -40px;left: -16px;width: 654px;height: 730px;background-image: url(../images/sub/mark_k.png);background-position: center;background-size: 100%;background-repeat: no-repeat;z-index: -1;}
.subContent .inner{max-width: 1540px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.subContent .subTitle{margin-bottom: 54px;text-align: center;}
.subContent .subTitle:after{content: "";display: block;width: 60px;height: 8px;margin: 38px auto 0;background: #00295D;}
.subContent .subTitle h3{font-size: 52px;color: #222;font-weight: 700;line-height: normal;}
.subTextLg{font-size: 36px;color: #222;font-weight: 300;line-height: 160%;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.subTextLg span{font-weight: 500;}

/* 협회소개 - 협회소개 */
.introductionWrap{margin-bottom: 80px;}
.introductionWrap .imgGroup{position: relative;width: 100%;height: 650px;overflow: hidden;}
.introductionWrap .imgGroup p{height: 100%;}
.introductionWrap .imgGroup img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1);}
.introductionWrap .textGroup{margin-top: 70px;display: flex;justify-content: space-between;align-items: flex-start;}
.introductionWrap .textGroup li:nth-child(1){width: calc(48% - 90px);}
.introductionWrap .textGroup li:nth-child(2){width: 52%;margin-top: 30px;}
.introductionWrap .textGroup li p{font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.introductionWrap .textGroup li strong{display: block;margin-top: 100px;font-size: 22px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}

/* 협회소개 - 인사말 */
.greetingWrap{display: flex;justify-content: space-between;align-items: flex-start;margin-top: 125px;}
.greetingWrap .imgGroup{width: 52%;}
.greetingWrap .textGroup{width: calc(48% - 90px);}
.greetingWrap .textGroup strong{display: block;margin-top: 70px;font-size: 22px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.greetingWrap .textGroup p{margin-top: 25px;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.greetingWrap .textGroup .sign{margin-top: 60px;font-size: 14px;color: #222;font-weight: 500;line-height: normal;letter-spacing: -0.6px;}
.greetingWrap .textGroup .sign em{font-size: 40px;font-weight: 400;font-family: "Nanum Brush Script";}
.greetingWrap .textGroup .historyList{padding: 15px 20px;margin-top: 10px;background: #F9F9F9;border: 1px solid #E2E2E2;border-radius: 10px;box-sizing: border-box;}
.greetingWrap .textGroup .historyList li{position: relative;padding-left: 8px;font-size: 15px;color: #777;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.greetingWrap .textGroup .historyList li:before{content: "";position: absolute;left: 0;top: 10px;width: 3px;height: 3px;border-radius: 100%;background: #00295D;box-sizing: border-box;}

/* 협회소개 - 임원명단 */
.executivesWrap{border-top: 1px solid #00295D;box-sizing: border-box;}
.executivesWrap ul{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: wrap;}
.executivesWrap ul li{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;justify-content: center;width: calc(25% - 25px);margin-top: 30px;padding: 50px 0;background: #F9F9F9;border: 1px solid #DDD;box-sizing: border-box;}
.executivesWrap ul li p{font-size: 18px;line-height: 150%;font-weight: 500;letter-spacing: -0.6px;}
.executivesWrap ul li p.position{margin-top: 29px;color: #222;}
.executivesWrap ul li p.name{font-size: 30px;color: #00295D;}
.executivesWrap ul li p.job{margin-top: 17px;color: #666;font-weight: 400;}

/* 협회소개 - 연혁 */
.historyWrap{display: flex;justify-content: space-between;align-items: flex-start;flex-direction: row;flex-wrap: wrap;margin-top: 85px;}
.historyWrap .textGroup{width: calc(53.333% - 70px);}
.historyWrap .textGroup .year{padding-top: 17px;border-top: 1px solid #ddd;box-sizing: border-box;font-size: 36px;color: #00295D;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;}
.historyWrap .textGroup .year:first-child{border-color: #00295D;}
.historyWrap .textGroup .monthGroup{margin: 49px 0 82px;}
.historyWrap .textGroup .monthGroup li{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: flex-start;}
.historyWrap .textGroup .monthGroup li span{width: 70px;font-size: 22px;color: #222;font-weight: 500;line-height: 33px;letter-spacing: -0.6px;}
.historyWrap .textGroup .monthGroup li p{position: relative;width: calc(100% - 70px);padding-left: 11px;box-sizing: border-box;font-size: 18px;color: #666;font-weight: 400;line-height: 33px;letter-spacing: -0.6px;word-break: keep-all;}
.historyWrap .textGroup .monthGroup li p:before{content: "";position: absolute;left: 0;top: 15px;width: 5px;height: 5px;border-radius: 100%;background: #00295D;box-sizing: border-box;}
.historyWrap .imgGroup{position: relative;width: 46.667%;height: 980px;overflow: hidden;}
.historyWrap .imgGroup p{height: 100%;}
.historyWrap .imgGroup img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1);}

/* 협회소개 - 비전 */
.visionWrap{display: flex;justify-content: space-between;align-items: flex-start;flex-direction: row;flex-wrap: wrap;padding-top: 100px;padding-left: 70px;border-top: 1px solid #00295D;box-sizing: border-box;}
.visionWrap .imgGroup{position: relative;width: 40%;}
.visionWrap .imgGroup img{margin-top: 150px;}
.visionWrap .textGroup{width: calc(54.196% - 50px);}
.visionWrap .textGroup li{position: relative;padding: 30px 0 36px;padding-left: 130px;box-sizing: border-box;}
.visionWrap .textGroup li:first-child{padding-top: 0;}
.visionWrap .textGroup li + li{border-top: 1px solid #ddd;}
.visionWrap .textGroup img{position: absolute;left: 0;top: 50%;transform: translateY(-50%); width: 100px;height: 100px;background: #FFF;border-radius: 100%;border: 1px solid #DDD;box-sizing: border-box;}
.visionWrap .textGroup .num{font-size: 20px;color: #46A4C6;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;}
.visionWrap .textGroup .title{font-size: 24px;color: #00295D;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.visionWrap .textGroup .text{margin-top: 5px;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}

/* 협회소개 - 회원기관 및 협력기관 */
.partnerWrap .subTextLg{padding-top: 90px;border-top: 1px solid #ddd;box-sizing: border-box;}
.partnerWrap .subTextLg:first-child{border-color: #00295D;}
.partnerList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;padding: 45px 0 90px;box-sizing: border-box;}
.partnerList a{width: calc(25% - 25px);margin-top: 40px;margin-left: 33px;background: #fff;border: 1px solid #ddd;box-sizing: border-box;}
.partnerList a:nth-child(4n+1){margin-left: 0;}
.partnerList .img{width: 100%;height: 220px;display: flex;align-items: center;justify-content: center;}
.partnerList .name{display: flex;align-items: center;justify-content: center;height: 100px;background: #F8F8F8;border-top: 1px solid #ddd;box-sizing: border-box;font-size: 24px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;text-align: center;}

/* 협회소개 - 국제협력 목록 */
.searchSort{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: center;width: 100%;max-width: 1000px;padding: 16px 10px;margin: 0 auto;background: #F9F9F9;border: 1px solid #DDD;box-sizing: border-box;}
.searchSort select{width: 100px;height: 44px;}
.searchSort .searchInput{width: 200px;height: 44px;margin-left: 10px;border: 1px solid #DDD;box-sizing: border-box;}
.searchSort .btnSearch{width: 86px;height: 44px;margin-left: 10px;background: #00295D;font-size: 14px;;color: #FFF;font-weight: 500;line-height: normal;text-align: center;}
.photoboardList{margin-top: 50px;border-top: 1px solid #00295D;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.photoboardList li{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding: 50px 0;box-sizing: border-box;}
.photoboardList li + li{border-top: 1px solid #ddd;}
.photoboardList li .img{position: relative;width: 47%;height: 250px;overflow: hidden;}
.photoboardList li .img img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.photoboardList li .text{width: calc(53% - 70px);}
.photoboardList li .text .label{font-size: 30px;color: #00295D;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;}
.photoboardList li .text .title{margin-top: 9px;font-size: 20px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.photoboardList li .text a{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;margin-top: 45px;border-radius: 50px;border: 1px solid #00295D;box-sizing: border-box;color: #00295D;font-size: 16px;font-weight: 500;letter-spacing: -1px;text-align: center;transition: .3s;-webkit-transition: .3s;}
.photoboardList li .text a:hover{background: #00295D;color: #fff;}

/* paging */
.paging {margin-top: 100px;text-align: center;font-size: 0;}
.paging a, .paging strong {display: inline-block;width: 36px;height: 36px;line-height: 34px;margin: 0 3px;box-sizing: border-box;font-size: 14px;color: #666;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong {border: 1px solid #00295D;color: #00295D;font-weight: 700;}
.paging #page_prev{margin: 0 9px 0 0;padding-left: 24px;background-position: left center;background-image: url(../images/sub/arrow_prev.png);}
.paging #page_next{margin: 0 0 0 9px;padding-right: 24px;background-image: url(../images/sub/arrow_next.png);background-position: right center;}
.paging #page_prev, .paging #page_next{display: inline-block;width: auto;background-repeat: no-repeat;box-sizing: border-box;font-size: 14px;color: #555;font-weight: 400;}

/* 협회소개 - 국제협력 상세 */
.boardView{border-top: 1px solid #00295D;box-sizing: border-box;}
.boardViewHeader{padding: 50px;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.boardViewHeader .label{font-size: 30px;color: #00295D;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;text-align: center;}
.boardViewHeader .title{margin-top: 10px;font-size: 20px;color: #222;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;text-align: center;word-break: keep-all;}
.boardViewbody{padding: 50px;box-sizing: border-box;}
.boardViewNav{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.boardViewNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardViewNav li + li{border-top: 1px solid #ddd;}
.boardViewNav li p{display: flex;align-items: center;justify-content: center;width: 200px;height: 60px;background: #F9F9F9;font-size: 16px;color: #666;font-weight: 500;vertical-align: middle;letter-spacing: -1px;}
.boardViewNav li a{position: relative;width: calc(100% - 200px);padding-left: 40px;box-sizing: border-box;vertical-align: middle;font-size: 18px;color: #666;font-weight: 400;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 100px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;width: 160px;height: 50px;background: #fff;border: 1px solid #00295D;color: #00295D;box-sizing: border-box;font-size: 16px;font-weight: 500;letter-spacing: -1px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup button:hover, .boardBtnGroup a:hover{background: #00295D;border: 1px solid #00295D;color: #fff;}

/* 협회소개 - 오시는 길 */
.locationInfo{margin-top: 90px;}
.locationHeader{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;}
.locationHeader .mapLink{display: flex;}
.locationHeader .mapLink a{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;border-radius: 50px;font-size: 16px;font-weight: 500;letter-spacing: -1px;text-align: center;}
.locationHeader .mapLink a:nth-child(1){background: #57B04B;color: #FFF;}
.locationHeader .mapLink a:nth-child(2){margin-left: 10px; background: #FEE500;color: #381C1E;}
.locationBody{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-start;border-top: 1px solid #00295D;box-sizing: border-box;margin-top: 50px;}
.locationBody li{display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;width: 50%;padding: 30px 0;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.locationBody li:nth-child(3){width: 100%;}
.locationBody li img{margin-left: 5px;width: 75px;height: 75px;background: #FFF;border-radius: 75px;border: 1px solid #DDD;box-sizing: border-box;}
.locationBody li strong{margin-left: 20px;font-size: 22px;color: #00295D;font-weight: 500;line-height: 150%;letter-spacing: -0.6px;}
.locationBody li p{margin-left: 40px;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}

/* 세미나,포럼 */
.horizontalboardList{margin-top: 50px;border-top: 1px solid #00295D;border-bottom: 1px solid #ddd;box-sizing: border-box;}
.horizontalboardList li a{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding: 50px 0;box-sizing: border-box;}
.horizontalboardList li + li{border-top: 1px solid #ddd;}
.horizontalboardList li .imgArea{position: relative;width: 26.5%;height: 250px;overflow: hidden;}
.horizontalboardList li .imgArea img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.horizontalboardList li .textArea{width: calc(73.5% - 300px);}
.horizontalboardList li .textArea .title{font-size: 25px;color: #222;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;}
.horizontalboardList li .textArea .text{margin-top: 20px;font-size: 18px;color: #666;font-weight: 400;line-height: 150%;letter-spacing: -0.6px;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;height: 3em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.horizontalboardList li .textArea .date{margin-top: 50px;font-size: 16px;color: #999;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.horizontalboardList li .btnArea{display: flex;align-items: center;justify-content: center;width: 160px;height: 50px;border-radius: 50px;border: 1px solid #00295D;box-sizing: border-box;color: #00295D;font-size: 16px;font-weight: 500;letter-spacing: -1px;text-align: center;transition: .3s;-webkit-transition: .3s;}
.horizontalboardList li a:hover .textArea .title{color: #00295D;text-decoration: underline;}
.horizontalboardList li a:hover .btnArea{background: #00295D;color: #fff;}

.boardHeader{display: flex;align-items: center;justify-content: space-between;margin: 50px 0 20px;}
.boardHeader p{font-size: 15px;color: #333;font-weight: 400;line-height: normal;letter-spacing: -0.6px;}
.boardHeader b{color: #00295D;font-weight: 700;}
.tableboardList {width: 100%;border-top: 2px solid #00295D;border-spacing: 0;border-collapse: separate;font-size: 15px;line-height: 24px;}
.tableboardList thead tr:last-child > * {border-bottom: 1px solid #00295D;}
.tableboardList th, .tableboardList td {height: 50px;padding: 15px 10px;text-align: center;box-sizing: border-box;}
.tableboardList th {position: relative;background: #F9F9F9;color: #222;font-weight: 700;}
.tableboardList td {border-bottom: 1px solid #DDDDDD;color: #666;font-weight: 400;}
.tableboardList td .noticeLabel{padding: 5px 14px; border-radius: 50px;background: #00295D;box-sizing: border-box;font-size: 14px;color: #FFF;font-weight: 500;line-height: normal;letter-spacing: -0.6px;text-align: center;}
.tableboardList td.td_subject{text-align: left;}
.tableboardList td.td_subject a:hover{color: #00295D;text-decoration-line: underline;}
.tableboardList td .newLabel{display: inline-block;width: 18px;height: 18px;background: #00295D;border-radius: 100%;font-size: 12px;color: #FFF;font-weight: 500;line-height: normal;text-align: center;}
.tableboardList td .fileLabel{display: inline-block;width: 16px;height: 21px;background-image: url(../images/sub/icon_file.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}


@media screen and (max-width: 1499px){

    #subVisual{height: 500px;padding: 180px 0 0;}
    #subVisual .lnbWrap{left: 0;width: 100%;}
    #subVisual .lnb > li.home{width: 80px;height: 80px;}
    #subVisual .lnb > li:nth-child(3){width: calc(100% - 80px);height: 80px;}

    .introductionWrap{margin-bottom: 50px;}
    .introductionWrap .imgGroup{height: 450px;}
    .introductionWrap .textGroup li:nth-child(1){width: calc(55% - 50px);}
    .introductionWrap .textGroup li:nth-child(2){width: 45%;margin-top: 0;}

    .greetingWrap .imgGroup{width: 40%;}
    .greetingWrap .textGroup{width: calc(60% - 50px);}
}

@media screen and (max-width: 1199px){

    #subVisual .visualtext p{font-size: 26px;}
    #subVisual .visualtext h2{font-size: 50px;}
    #subVisual .lnb > li{position: relative;}
    #subVisual .lnb > li.home{width: 50px;height: 50px;}
    #subVisual .lnb > li.home img{width: 18px;height: 16px;}
    #subVisual .lnb > li:nth-child(2){display: flex;width: calc(50% - 25px);height: 50px;background: #F5F5F5;}
    #subVisual .lnb > li:nth-child(3){display: flex;width: calc(50% - 25px);height: 50px;overflow-x: inherit;}
    #subVisual .lnb > li > button{position: relative;display: block;width: 100%;padding: 0 40px 0 20px;box-sizing: border-box;font-size: 14px;font-weight: 400;line-height: normal;letter-spacing: -0.6px;text-align: left;}
    #subVisual .lnb > li:nth-child(2) > button{color: #333;}
    #subVisual .lnb > li:nth-child(3) > button{color: #fff;}
    #subVisual .lnb > li > button:after{position: absolute;top: 50%;right: 20px;transform: translateY(-50%);transition: all 0.5s;}
    #subVisual .lnb > li:nth-child(2) > button:after{content: url(../images/sub/arrow_down_black.svg);}
    #subVisual .lnb > li:nth-child(3) > button:after{content: url(../images/sub/arrow_down_white.svg);}
    #subVisual .lnb > li > ul{display: none;position: absolute;top: 50px;left: 50%;transform: translateX(-50%);width: 100%;height: auto;background: #FFF;padding: 0;box-sizing: border-box;text-align: left;z-index: 50;}
    #subVisual .lnb > li:nth-child(2) > ul{border: 1px solid #DADADA;}
    #subVisual .lnb > li:nth-child(3) > ul{border: 1px solid #00295D;}
    #subVisual .lnb > li > ul > li{box-sizing: border-box;}
    #subVisual .lnb > li > ul > li + li{margin-left: 0;border-top: 1px solid #DADADA;}
    #subVisual .lnb > li > ul > li > a{position: relative;display: block;width: 100%;padding: 0 10px 0 20px;box-sizing: border-box;font-size: 14px;color: #333;font-weight: 400;line-height: 350%;letter-spacing: -0.6px;transition: all 0.5s;}
    #subVisual .lnb > li:nth-child(2) > ul > li > a:hover, #subVisual .lnb > li:nth-child(2) > ul > li.on > a{background: #F5F5F5;color: #00295D;font-weight: 700;text-decoration: underline;}
    #subVisual .lnb > li:nth-child(3) > ul > li > a:hover, #subVisual .lnb > li:nth-child(3) > ul > li.on > a{background: #00295D;color: #fff;font-weight: 700;text-decoration: inherit;}
    .subContent{padding: 90px 0 150px;}

    .executivesWrap ul li{width: calc(50% - 10px);margin-top: 20px;}

    .historyWrap{margin-top: 30px;}
    .historyWrap .textGroup{width: 100%;margin-top: 30px;order: 2;}
    .historyWrap .imgGroup{width: 100%;height: 500px;order: 1;}

    .visionWrap{flex-direction: column;padding-top: 0;padding-left: 0;border-top: 0;}
    .visionWrap .imgGroup{width: 100%;}
    .visionWrap .imgGroup .subTextLg{text-align: center !important;}
    .visionWrap .imgGroup img{margin-top: 30px;padding-top: 30px;border-top: 1px solid #00295D;box-sizing: border-box;}
    .visionWrap .textGroup{width: 100%;margin-top: 45px;}

    .partnerList a{width: calc(50% - 5px);margin-top: 20px;margin-left: 10px;}
    .partnerList a:nth-child(2n+1){margin-left: 0;}

    .photoboardList li .text{width: calc(53% - 40px);}
    .photoboardList li .text .label{font-size: 22px;}
    .photoboardList li .text .title{font-size: 16px;}

    .locationBody li{width: 100%;}

    .horizontalboardList li a{padding: 30px 0;}
    .horizontalboardList li .imgArea{width: 35%;}
    .horizontalboardList li .textArea{width: calc(65% - 40px);}
    .horizontalboardList li .textArea .title{font-size: 22px;}
    .horizontalboardList li .textArea .text{font-size: 16px;}
    .horizontalboardList li .btnArea{position: absolute;right: 0;bottom: 30px;}
}

@media screen and (max-width: 767px){

    #subVisual{height: 400px;padding: 160px 0 0;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
    #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05_m.jpg);}
    #subVisual .visualbg.bg06:before{background-image: url(../images/sub/bg_subVisual06_m.jpg);}
    #subVisual .visualtext p{font-size: 16px;line-height: 20px;}
    #subVisual .visualtext h2{margin-top: 10px;font-size: 40px;line-height: 40px;}
    .subContent{padding: 60px 0 100px;}
    .subContent:before{top: 0;left: -20px;width: 310px;height: 360px;background-image: url(../images/sub/mark_k_m.png);}
    .subContent .subTitle{margin-bottom: 30px;}
    .subContent .subTitle:after{width: 30px;height: 4px;margin: 26px auto 0;}
    .subContent .subTitle h3{font-size: 32px;}
    .subTextLg{font-size: 22px;}

    .introductionWrap{margin-bottom: 0;}
    .introductionWrap .imgGroup{height: 340px;}
    .introductionWrap .textGroup li{width: 100% !important;}
    .introductionWrap .textGroup{flex-direction: column;flex-wrap: nowrap;margin-top: 30px;}
    .introductionWrap .textGroup li strong{margin-top: 22px;font-size: 18px;}
    .introductionWrap .textGroup li p{margin-top: 22px;font-size: 15px;}

    .greetingWrap{flex-direction: column;flex-wrap: nowrap;margin-top: 30px;}
    .greetingWrap .imgGroup, .greetingWrap .textGroup{width: 100%;}
    .greetingWrap .textGroup{margin-top: 50px;}
    .greetingWrap .textGroup img{width: 140px;height: 38px;}
    .greetingWrap .textGroup strong{margin-top: 30px;font-size: 18px;}
    .greetingWrap .textGroup p{margin-top: 25px;font-size: 15px;}
    .greetingWrap .textGroup .sign{margin-top: 25px;font-size: 13px;}
    .greetingWrap .textGroup .sign em{font-size: 40px;}
    .greetingWrap .textGroup .historyList{padding: 15px 20px;margin-top: 10px;}
    .greetingWrap .textGroup .historyList li{font-size: 14px;}
    .greetingWrap .textGroup .historyList li:before{top: 10px;}

    .executivesWrap ul li{width: 100%;margin-top: 30px;}

    .historyWrap .textGroup .year{padding-top: 15px;font-size: 26px;}
    .historyWrap .textGroup .monthGroup{margin: 35px 0 50px;}
    .historyWrap .textGroup .monthGroup li span{width: 40px;font-size: 18px;}
    .historyWrap .textGroup .monthGroup li p{width: calc(100% - 40px);font-size: 15px;}

    .visionWrap .textGroup li{padding: 30px 0;}
    .visionWrap .textGroup li:first-child{padding-top: 30px;}
    .visionWrap .textGroup img{top: 30px;transform: translateY(0%);width: 60px;height: 60px;}
    .visionWrap .textGroup .num{margin-top: 7px;padding-left: 72px;font-size: 14px;}
    .visionWrap .textGroup .title{padding-left: 72px;font-size: 16px;}
    .visionWrap .textGroup .text{margin-top: 25px;font-size: 14px;}

    .partnerWrap .subTextLg{padding-top: 30px;}
    .partnerList{padding: 10px 0 30px;}
    .partnerList .img{height: 150px;padding: 0 10px;box-sizing: border-box;}
    .partnerList .name{height: 50px;padding: 0 10px;box-sizing: border-box;font-size: 15px;}

    .searchSort{padding: 12px 10px;}
    .searchSort select{width: 30%;}
    .searchSort .searchInput{width: calc(70% - 70px);margin-left: 5px;}
    .searchSort .btnSearch{width: 60px;margin-left: 5px;}
    .photoboardList{margin-top: 30px;}
    .photoboardList li{flex-direction: column;padding: 30px 0;}
    .photoboardList li .img{width: 100%;height: 200px;}
    .photoboardList li .text{width: 100%;margin-top: 30px;}
    .photoboardList li .text .title{margin-top: 2px;}
    .photoboardList li .text a{width: 105px;height: 32px;margin-top: 25px;font-size: 12px;}
    .paging{margin-top: 50px;}
    .paging a, .paging strong{margin: 0 2px;}
    .paging #page_prev{margin: 0 5px 0 0;padding-left: 20px;}
    .paging #page_next{margin: 0 0 0 5px;padding-right: 20px;}

    .boardViewHeader{padding: 30px 0;}
    .boardViewHeader .label{font-size: 26px;}
    .boardViewHeader .title{margin-top: 2px;font-size: 18px;}
    .boardViewbody{padding: 30px 0;}
    .boardViewNav li p{width: 97px;height: 50px;font-size: 14px;}
    .boardViewNav li a{width: calc(100% - 97px);padding-left: 20px;font-size: 14px;}
    .boardBtnGroup{margin-top: 30px;}
    .boardBtnGroup button, .boardBtnGroup a{width: 75px;height: 36px;font-size: 14px;}
    .boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 5px;}

    .locationMap .wrap_map{height: 320px !important;}
    .locationInfo{margin-top: 30px;}
    .locationHeader{flex-direction: column;}
    .locationHeader img{width: 120px;}
    .locationHeader .mapLink{margin-top: 30px;}
    .locationHeader .mapLink a{width: 130px;height: 40px;font-size: 13px;}
    .locationHeader .mapLink a:nth-child(2){margin-left: 5px;}
    .locationBody{margin-top: 20px;}
    .locationBody li{position: relative;align-items: flex-start;flex-direction: column;}
    .locationBody li img{position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 60px;height: 60px;margin-left: 0;}
    .locationBody li strong{margin-left: 0;padding-left: 80px;font-size: 16px;}
    .locationBody li p{margin-left: 0;padding-left: 80px;font-size: 14px;}

    .horizontalboardList li a{align-items: flex-start;flex-direction: column;}
    .horizontalboardList li .imgArea{width: 100%;height: 200px;}
    .horizontalboardList li .textArea{width: 100%;margin-top: 30px;}
    .horizontalboardList li .textArea .title{font-size: 19px;}
    .horizontalboardList li .textArea .text{margin-top: 12px;font-size: 15px;}
    .horizontalboardList li .textArea .date{margin: 20px 0 10px;font-size: 14px;}
    .horizontalboardList li .btnArea{width: 105px;height: 32px;margin-top: 25px;font-size: 12px;}

    .boardHeader{margin: 30px 0 15px;}
    .boardHeader p{font-size: 13px;}
    .tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 40px 0 20px;border-bottom: 1px solid #DDDDDD;box-sizing: border-box;}
    .tableboardList td{display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 13px;color: #999;}
    .tableboardList td.tdTop{position: absolute;top: 20px;left: 0;}
    .tableboardList td.td_subject{display: block;}
    .tableboardList td.td_subject a{font-size: 16px;color: #666;}
    .tableboardList td.hit {line-height: 1;border-left: 1px solid #ddd;margin: 0 10px;padding-left: 10px;}
    .tableboardList td.hit:before{content: "조회수";}
}

@keyframes scale{ 
	0%{transform: scale(1.2);}
	100%{transform: scale(1);}
}